
<app-header></app-header>
<router-outlet></router-outlet>
<div class="page-header">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="breadcrumb">
                  <a href="#"><i class="icon-home"></i> Home</a>
                  <span class="crumbs-spacer"><i class="fa fa-angle-double-right"></i></span>
                  <span class="current">Shop Categories</span>
                  <h2 class="entry-title">Shop Categories</h2>
              </div>
          </div>
      </div>
  </div>
</div>

<div id="content" class="product-area">
  <div class="container">
      <div class="row">
          <app-product-sidebar></app-product-sidebar>
          
          <div class="col-md-9 col-sm-9 col-xs-12">
              <div class="shop-content">
                  <div class="col-md-12">
                      <div class="product-option mb-30 clearfix">
                         

                          <div class="showing text-left">
                              <p class="">Showing 01-09 of 17 Results</p>
                          </div>
                      </div>
                  </div>
                  <div class="tab-content">
                     
                      <div class="row">
                          <div class="col-md-4 col-sm-6 col-xs-12">
                              <div class="shop-product">
                                  <div class="product-box">
                                      <a href="#"><img src="assets/img/products/img-01.jpg" alt=""></a>
                                      <div class="cart-overlay">
                                      </div>
                                      <span class="sticker new"><strong>NEW</strong></span>
                                      
                                  </div>
                                  <div class="product-info">
                                      <h4 class="product-title"><a href="product-details.html">Faces Ultime Pro Perfecting Primer</a></h4>
                                      <div class="align-items">
                                          <div class="pull-left">
                                              <span class="price"><i class="fa fa-rupee"></i>49.00</span>
                                          </div>
                                          <div class="pull-right">
                                              <div class="reviews-icon">
                                                  <i class="i-color fa fa-star"></i>
                                                  <i class="i-color fa fa-star"></i>
                                                  <i class="i-color fa fa-star"></i>
                                                  <i class="fa fa-star-o"></i>
                                                  <i class="fa fa-star-o"></i>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="actions">
                                      <div class="add-to-links">
                                          <a href="#" class="btn-wish"><i class="icon-heart"></i></a>
                                          <a routerLink='/product/product-details' class="btn-cart"><i class="icon-basket-loaded"></i> Add to Bags</a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-4 col-sm-6 col-xs-12">
                              <div class="shop-product">
                                  <div class="product-box">
                                      <a href="#"><img src="assets/img/products/img-02.jpg" alt=""></a>
                                      <div class="cart-overlay">
                                      </div>
                                      <span class="sticker discount"><strong>-40%</strong></span>
                                     
                                  </div>
                                  <div class="product-info">
                                      <h4 class="product-title"><a href="product-details.html">Eius Modi Tempo</a></h4>
                                      <div class="align-items">
                                          <div class="pull-left">
                                              <span class="price"><i class="fa fa-rupee"></i>59.00</span>
                                          </div>
                                          <div class="pull-right">
                                              <div class="reviews-icon">
                                                  <i class="i-color fa fa-star"></i>
                                                  <i class="i-color fa fa-star"></i>
                                                  <i class="i-color fa fa-star"></i>
                                                  <i class="i-color fa fa-star"></i>
                                                  <i class="fa fa-star-o"></i>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="actions">
                                      <div class="add-to-links">
                                          <a href="#" class="btn-wish"><i class="icon-heart"></i></a>
                                          <a href="#" class="btn-cart"><i class="icon-basket-loaded"></i> Add to Bag</a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-4 col-sm-6 col-xs-12">
                              <div class="shop-product">
                                  <div class="product-box">
                                      <a href="#"><img src="assets/img/products/img-03.jpg" alt=""></a>
                                      <div class="cart-overlay">
                                      </div>
                                      
                                  </div>
                                  <div class="product-info">
                                      <h4 class="product-title"><a href="product-details.html">Faces Ultime Pro Perfecting Primer</a></h4>
                                      <div class="align-items">
                                          <div class="pull-left">
                                              <span class="price"><i class="fa fa-rupee"></i>69.00 <del><i class="fa fa-rupee"></i>79.00</del></span>
                                          </div>
                                          <div class="pull-right">
                                              <div class="reviews-icon">
                                                  <i class="i-color fa fa-star"></i>
                                                  <i class="i-color fa fa-star"></i>
                                                  <i class="i-color fa fa-star"></i>
                                                  <i class="fa fa-star-o"></i>
                                                  <i class="fa fa-star-o"></i>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="actions">
                                      <div class="add-to-links">
                                          <a href="#" class="btn-wish"><i class="icon-heart"></i></a>
                                          <a href="#" class="btn-cart"><i class="icon-basket-loaded"></i> Add to Bag</a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-4 col-sm-6 col-xs-12">
                              <div class="shop-product">
                                  <div class="product-box">
                                      <a href="#"><img src="assets/img/products/img-01.jpg" alt=""></a>
                                      <div class="cart-overlay">
                                      </div>
                                      <span class="sticker new"><strong>NEW</strong></span>
                                      
                                  </div>
                                  <div class="product-info">
                                      <h4 class="product-title"><a href="product-details.html">Faces Ultime Pro Perfecting Primer</a></h4>
                                      <div class="align-items">
                                          <div class="pull-left">
                                              <span class="price"><i class="fa fa-rupee"></i>49.00</span>
                                          </div>
                                          <div class="pull-right">
                                              <div class="reviews-icon">
                                                  <i class="i-color fa fa-star"></i>
                                                  <i class="i-color fa fa-star"></i>
                                                  <i class="i-color fa fa-star"></i>
                                                  <i class="fa fa-star-o"></i>
                                                  <i class="fa fa-star-o"></i>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="actions">
                                      <div class="add-to-links">
                                          <a href="#" class="btn-wish"><i class="icon-heart"></i></a>
                                          <a href="#" class="btn-cart"><i class="icon-basket-loaded"></i> Add to Bag</a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-4 col-sm-6 col-xs-12">

                              <div class="shop-product">
                                  <div class="product-box">
                                      <a href="#"><img src="assets/img/products/img-03.jpg" alt=""></a>
                                      <div class="cart-overlay">
                                      </div>
                                      
                                  </div>
                                  <div class="product-info">
                                      <h4 class="product-title"><a href="product-details.html">Faces Ultime Pro Perfecting Primer</a></h4>
                                      <div class="align-items">
                                          <div class="pull-left">
                                              <span class="price"><i class="fa fa-rupee"></i>69.00 <del><i class="fa fa-rupee"></i>79.00</del></span>
                                          </div>
                                          <div class="pull-right">
                                              <div class="reviews-icon">
                                                  <i class="i-color fa fa-star"></i>
                                                  <i class="i-color fa fa-star"></i>
                                                  <i class="i-color fa fa-star"></i>
                                                  <i class="fa fa-star-o"></i>
                                                  <i class="fa fa-star-o"></i>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="actions">
                                      <div class="add-to-links">
                                          <a href="#" class="btn-wish"><i class="icon-heart"></i></a>
                                          <a href="#" class="btn-cart"><i class="icon-basket-loaded"></i> Add to Bag</a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-4 col-sm-6 col-xs-12">
                              <div class="shop-product">
                                  <div class="product-box">
                                      <a href="#"><img src="assets/img/products/img-03.jpg" alt=""></a>
                                      <div class="cart-overlay">
                                      </div>
                                      
                                  </div>
                                  <div class="product-info">
                                      <h4 class="product-title"><a href="product-details.html">Faces Ultime Pro Perfecting Primer</a></h4>
                                      <div class="align-items">
                                          <div class="pull-left">
                                              <span class="price"><i class="fa fa-rupee"></i>69.00 <del><i class="fa fa-rupee"></i>79.00</del></span>
                                          </div>
                                          <div class="pull-right">
                                              <div class="reviews-icon">
                                                  <i class="i-color fa fa-star"></i>
                                                  <i class="i-color fa fa-star"></i>
                                                  <i class="i-color fa fa-star"></i>
                                                  <i class="fa fa-star-o"></i>
                                                  <i class="fa fa-star-o"></i>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="actions">
                                      <div class="add-to-links">
                                          <a href="#" class="btn-wish"><i class="icon-heart"></i></a>
                                          <a href="#" class="btn-cart"><i class="icon-basket-loaded"></i> Add to Bag</a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                         
                        
                      </div>
                  </div>
              </div>

              <div class="pagination">
                  <div class="results-navigation pull-left">
                      Showing: 1 - 6 Of 17
                  </div>
                  <nav class="navigation pull-right">
                      <a class="next-page" href="#"><i class="fa fa-angle-left"></i></a>
                      <span class="current page-num">1</span>
                      <a class="page-num" href="#">2</a>
                      <a class="page-num" href="#">3</a>
                      <div class="divider">...</div>
                      <a class="next-page" href="#"><i class="fa fa-angle-right"></i></a>
                  </nav>
              </div>

          </div>
      </div>
  </div>
  
</div>

<app-footer></app-footer>
