
<div class=" fixed-header  header">

  <div class="top-bar">
      <div class="container">
          <div class="row">
              <div class="col-md-6 col-sm-4">
                  <div class="language-wrapper">
                      <div class="box-language">

                      </div>

                      Best Online Shopping Destination
                  </div>
                  <div class="clear"></div>
              </div>
              <div class="col-md-6 col-sm-8">

                  <div class="search-area">
                      <form>
                          <div class="control-group">
                              <ul class="categories-filter animate-dropdown">
                                  <li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" href="category.html">Categories
                                          <span class="caret"></span></a>
                                      <ul class="dropdown-menu">
                                          <li class="menu-header">Clothing</li>
                                          <li><a tabindex="-1" href="#">- Men</a></li>
                                          <li><a tabindex="-1" href="#">- Women</a></li>

                                          <li><a tabindex="-1" href="#">- Girls</a></li>
                                          <li class="menu-header">Electronics</li>

                                          <li><a tabindex="-1" href="#">- Cameras</a></li>
                                          <li><a tabindex="-1" href="#">- Mobile Phones</a></li>
                                      </ul>
                                  </li>
                              </ul>
                              <input class="search-field" placeholder="Search here...">
                              <a class="search-button" href="#"><i class="icon-magnifier"></i></a>
                          </div>
                      </form>
                  </div>

                  <div class="shop-cart">
                      <ul>
                          <li><a class="cart-icon cart-btn" href="wishlist.html"><span class="icon-heart"></span></a></li>
                          <li>
                              <a href="shopping-cart.html" target="_blank" class="cart-icon cart-btn"><i class="icon-basket-loaded"></i><span
                                      class="cart-label">3</span></a>
                              <div class="cart-box">
                                  <div class="popup-container">
                                      <div class="cart-entry">
                                          <a href="#" class="image">
                                              <img src="assets/img/products/product-menu-1.jpg" alt="">
                                          </a>
                                          <div class="content">
                                              <a href="#" class="title">Pullover Batwing</a>
                                              <p class="quantity">Quantity: 3</p>
                                              <span class="price"><i class="fa fa-rupee"></i>45.00</span>
                                          </div>
                                          <div class="button-x">
                                              <i class="icon-close"></i>
                                          </div>
                                      </div>
                                      <div class="cart-entry">
                                          <a href="#" class="image">
                                              <img src="assets/img/products/product-menu-2.jpg" alt="">
                                          </a>
                                          <div class="content">
                                              <a href="#" class="title">Pullover Batwing</a>
                                              <p class="quantity">Quantity: 3</p>
                                              <span class="price"><i class="fa fa-rupee"></i>90.00</span>
                                          </div>
                                          <div class="button-x">
                                              <i class="icon-close"></i>
                                          </div>
                                      </div>
                                      <div class="summary">
                                          <div class="subtotal">Sub Total</div>
                                          <div class="price-s"><i class="fa fa-rupee"></i>210.5</div>
                                      </div>
                                      <div class="cart-buttons">
                                          <a href="shopping-cart.html" class="btn btn-border-2">View Cart</a>
                                          <a href="checkout.html" class="btn btn-common">Checkout</a>
                                          <div class="clear"></div>
                                      </div>
                                  </div>
                              </div>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>


  <nav class="navbar navbar-default affix">
      <div class="container">
          <div class="row">
              <div class="navbar-header">

                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                      <i class="fa fa-bars"></i>
                  </button>
                  <a class="navbar-brand" routerLink="/">
                      <img src="assets/img/logo.svg" alt="">
                  </a>
              </div>
              <div class="navbar-collapse collapse">

                  <ul class="nav navbar-nav">
                      <li>
                          <a class="active" routerLink='/'>Home</a>

                      </li>
                      <li>
                          <a routerLink='/about'>
                              About
                          </a>
                      </li>
                      <li>
                          <a routerLink='/product'>Products <span class="caret"></span></a>
                          <div class="dropdown mega-menu megamenu1">
                              <div class="row">
                                  <div class="col-sm-3 col-xs-12">
                                      <ul class="menulinks">
                                          <li class="maga-menu-title">
                                              <a href="#">Men</a>
                                          </li>
                                          <li><a href="category.html">Clothing</a></li>
                                          <li><a href="category.html">Handbags</a></li>
                                          <li><a href="category.html">Maternity</a></li>
                                          <li><a href="category.html">Jewelry</a></li>
                                          <li><a href="category.html">Scarves</a></li>
                                      </ul>
                                  </div>
                                  <div class="col-sm-3 col-xs-12">
                                      <ul class="menulinks">
                                          <li class="maga-menu-title">
                                              <a href="#">Women</a>
                                          </li>
                                          <li><a href="category.html">Handbags</a></li>
                                          <li><a href="category.html">Jewelry</a></li>
                                          <li><a href="category.html">Clothing</a></li>
                                          <li><a href="category.html">Watches</a></li>
                                          <li><a href="category.html">Hats</a></li>
                                      </ul>
                                  </div>
                                  <div class="col-sm-3 col-xs-12">
                                      <ul class="menulinks">
                                          <li class="maga-menu-title">
                                              <a href="#">Accessories</a>
                                          </li>
                                          <li><a href="category.html">Belts</a></li>
                                          <li><a href="category.html">Scarves</a></li>
                                          <li><a href="category.html">Hats</a></li>
                                          <li><a href="category.html">Ties</a></li>
                                          <li><a href="category.html">Handbags</a></li>
                                      </ul>
                                  </div>

                              </div>
                          </div>
                      </li>
                      <li>
                          <a href="#">Shop <span class="caret"></span></a>
                          <div class="dropdown mega-menu megamenu2">
                              <div class="row">
                                  <div class="col-sm-3 col-xs-12">
                                      <ul class="menulinks">
                                          <li class="maga-menu-title">
                                              <a href="#">Shop Types</a>
                                          </li>
                                          <li><a target="_blank" href="">Unlined</a></li>
                                          <li><a target="_blank" href="">Unlined</a></li>
                                          <li><a target="_blank" href="">Unlined</a></li>
                                          <li><a target="_blank" href="">Unlined</a></li>
                                          <li><a target="_blank" href="">Unlined</a></li>
                                          <li><a target="_blank" href="">Unlined</a></li>
                                      </ul>
                                  </div>
                                  <div class="col-sm-3 col-xs-12">
                                      <ul class="menulinks">
                                          <li class="maga-menu-title">
                                              <a href="#">Shop Types</a>
                                          </li>
                                          <li><a target="_blank" href="">Unlined</a></li>
                                          <li><a target="_blank" href="">Unlined</a></li>
                                          <li><a target="_blank" href="">Unlined</a></li>
                                          <li><a target="_blank" href="">Unlined</a></li>
                                          <li><a target="_blank" href="">Unlined</a></li>
                                          <li><a target="_blank" href="">Unlined</a></li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </li>

                      <li>
                          <a href="contact.html">
                              Contact
                          </a>
                      </li>
                  </ul>

                  <div class="icon-right pull-right">
                      <div class="text-right">
                          <div class="account link-inline">
                              <!-- before  login  -->
                              <a (click)="showheaderModal()" href="javascript:void(0)" *ngIf="!account">
                                  <span class="icon-user"></span> Login <span class="icon-arrow-down"></span>
                              </a>

                              <!-- after login -->
                              <div class="dropdown text-right" *ngIf="account">
                                  <a href="javascript:void(0)" aria-expanded="false" class="dropdown-toggle" data-toggle="dropdown">
                                      <span class="icon-user"></span> Account <span class="icon-arrow-down"></span>
                                  </a>
                                  <ul class="dropdown-menu">
                                      <li><a href="login-form.html"><span class="icon icon-user"></span>My
                                              Account</a></li>
                                      <li><a href="wishlist.html"><span class="icon icon-heart"></span>My
                                              Wishlist</a></li>

                                      <li><a href="checkout.html"><span class="icon icon-check"></span>Checkout</a></li>
                                      <li><a href="javascript:void(0)" (click)="logout()"><span class="icon icon-power"></span>Logout</a></li>
                                  </ul>
                              </div>
                              <!---->
                          </div>

                      </div>
                  </div>
              </div>
          </div>
      </div>

  </nav>
</div>


<!--Login Modal -->
<div class="modal fade in" role="dialog" bsModal #headerModal="bs-modal">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <button type="button" class="close" (click)="closeHeaderModal()">&times;</button>

            <div class="modal-body">
                
                    <div class="login" *ngIf="islogin">
                        <div class="login-form-container">
                            <div class="login-text">
                                <h3>Login</h3>
                                <p>Please Login using account detail bellow.</p>
                            </div>
                            <form class="login-form" (ngSubmit)="login()" [formGroup]="loginForm">
                                <div class="form-group">
                                    <div class="controls">
                                        <input type="text" class="form-control" placeholder="Email" name="name" formControlName="email" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="controls">
                                        <input type="password" class="form-control" placeholder="Password" name="password" formControlName="password" />
                                    </div>
                                </div>
                                <div class="button-box">
                                    <div class="login-toggle-btn">

                                        <a href="javascript:void(0)" (click)="showForm('fgpwd')">Forgot Password?</a>
                                    </div>
                                    <button type="submit" class="btn btn-common log-btn">Login</button>
                                </div><br>
                                <p class="create-user"><a href="javascript:void(0)" id="signUP" (click)="showForm('signup')">New to Naykaa? Sign up</a></p>

                            </form>
                        </div>
                    </div>
                    <div class="login" *ngIf="forgotpwd">
                            <div class="login-form-container">
                                <div class="login-text">
                                    <h3>Forget Password</h3>
                                    <p>Please enter Email Id.</p>
                                </div>
                                <form class="login-form">
                                    <div class="form-group">
                                        <div class="controls">
                                            <input type="text" class="form-control" placeholder="Email" name="name" formControlName="email" />
                                        </div>
                                    </div>
                                    
                                    <div class="button-box">
                                        <button type="submit" class="btn btn-common log-btn">Submit</button>
                                    </div><br>
                                    <p class="create-user"><a href="#" id="signUP" (click)="showForm('signup')">New to Naykaa? Sign up</a></p>
    
                                </form>
                            </div>
                        </div>

                        <div class="login" *ngIf="otpShow">
                            <div class="login-form-container">
                                <div class="login-text">
                                    <h3>OTP</h3>
                                    <p>Please enter OTP sent to your email id</p>
                                </div>
                                <form class="login-form" (ngSubmit)="otpActivate()" #otpfrm="ngForm" ngNativeValidate>
                                    <div class="form-group">
                                        <div class="controls">
                                            <input type="number" class="form-control" placeholder="OTP" name="otp" [(ngModel)]="otpDetails.otp" #otp="ngModel" />
                                        </div>
                                    </div>
                                    <div class="button-box">
                                        <button type="submit" class="btn btn-common log-btn">Submit</button>
                                    </div><br>
                                </form>
                            </div>
                        </div>

                <div class="login signup" id="sign_up" *ngIf="issignup">
                    <div class="login-form-container">
                        <div class="login-text">
                            <h3>Signup</h3>
                            <p>Please Signup using account detail bellow.</p>
                        </div>
                        <form class="login-form" (ngSubmit)="registerUser()" #signupfrm="ngForm" ngNativeValidate>
                            <div class="form-group">
                                <div class="controls">
                                    <input type="text" class="form-control" placeholder="Enter Name" name="name" [(ngModel)]="signupDetails.name" #name="ngModel">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="controls">
                                    <input type="email" class="form-control" placeholder="Enter Email Address" name="email" [(ngModel)]="signupDetails.email" #email="ngModel">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="controls">
                                    <input type="number" class="form-control" placeholder="Enter Mobile number" name="phone" [(ngModel)]="signupDetails.phone" #phone="ngModel">
                                </div>
                            </div>
                            <!-- <div class="form-group" id="signup_otp">
                                <div class="controls">
                                    <input type="text" class="form-control" placeholder="Enter OTP" name="name">
                                </div>
                            </div> -->
                            <div>
                                <div class="form-group">
                                    <div class="controls">
                                        <input type="password" class="form-control" placeholder="Password" name="pwd" [(ngModel)]="signupDetails.pwd" #pwd="ngModel">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="controls">
                                        <input type="password" class="form-control" placeholder="Confirm Password" name="cnf_pwd" [(ngModel)]="signupDetails.cnf_pwd" #cnf_pwd="ngModel">
                                    </div>
                                </div>
                            </div>
                            <div class="button-box">
                                <button type="submit" class="btn btn-common log-btn">Signup</button>
                            </div><br>
                            <p class="create-user"><a href="javascript:void(0)" (click)="showForm('login')">Existing User? Log in</a></p>

                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>