<app-header></app-header>

<section id="slider">
  <div class="tp-banner-container">
      <div class="tp-banner">
          <ul>
              <li data-transition="fade" data-slotamount="7" data-masterspeed="2000" data-thumb="assets/img/slider/slide1.jpg"
                  data-delay="10000">

                  <img src="assets/img/dummy.png" alt="laptopmockup_sliderdy" data-lazyload="assets/img/slider/slide1.jpg"
                      data-bgposition="top" data-duration="12000" data-ease="Power0.easeInOut" data-bgfit="115"
                      data-bgfitend="100" data-bgpositionend="right">

                  <div class="tp-caption sft skewtotop tp-resizeme title start" data-x="20" data-y="center"
                      data-voffset="-90" data-speed="800" data-start="950" data-easing="Power4.easeOut"
                      data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.1"
                      data-endspeed="1000" data-endeasing="Power4.easeIn" style="z-index: 11;">
                      <h3 style="text-align: center; min-height: 0px; min-width: 0px; line-height: 94px; border-width: 0px; margin: 0px 0px 20px; padding: 0px; letter-spacing: 2px; font-size: 20px; text-transform: uppercase; font-weight: 700; color: #fff;">Upto
                          40% Discount on Women's Clothing</h3>
                  </div>

                  <div class="tp-caption largeHeadingWhite sfl str tp-resizeme start" data-x="20" data-y="center"
                      data-voffset="-40" data-speed="1200" data-start="950" data-easing="easeInOutExpo"
                      data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
                      data-endspeed="800" data-endeasing="easeInOutExpo">
                      <h1 style="text-align: center; min-height: 0px; min-width: 0px; line-height: 94px; border-width: 0px; margin: 0px 0px 20px; padding: 0px; font-size: 50px; font-weight: 800; color: #fff;">Grand
                          Summer <span style="font-size: 50px;" class="text-preset">Sale!</span></h1>
                  </div>

                  <div class="tp-caption detailTextWhiteLarge sfl tp-resizeme start" data-x="20" data-y="center"
                      data-voffset="30" data-speed="1200" data-start="1350" data-easing="easeInOutExpo"
                      data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
                      data-endspeed="300">
                      <p style="min-height: 0px; min-width: 0px; line-height: 30px; border-width: 0px; margin: 0px 0px 20px; padding: 0px; letter-spacing: 0px; font-size: 14px; color: #ffffff;">Lorem
                          consectetur adipiscing elit, sed do eiusmod tempor dolor sit amet <br> contetur
                          adipiscing elit, sed do eiusmod tempor incididunt</p>
                  </div>

                  <div class="tp-caption sfb tp-resizeme start" data-x="20" data-hoffset="0" data-y="center"
                      data-voffset="90" data-speed="1200" data-start="1750" data-easing="easeInOutExpo"
                      data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
                      data-endspeed="300"><a href="#" class="btn btn-common"><i class="icon-handbag" style="font-size: 14px"></i>Start
                          Shopping</a>
                  </div>
              </li>
              <li data-transition="fade" data-slotamount="7" data-masterspeed="2000" data-thumb="assets/img/slider/slide2.jpg"
                  data-delay="10000" style="background-size:cover">

                  <img src="assets/img/dummy.png" alt="laptopmockup_sliderdy" data-lazyload="assets/img/slider/slide2.jpg"
                      data-bgposition="right top" data-duration="12000" data-ease="Power0.easeInOut" data-bgfit="115"
                      data-bgfitend="100" data-bgpositionend="center bottom">

                  <div class="tp-caption sft skewtotop tp-resizeme title start" data-x="center" data-y="center"
                      data-voffset="-90" data-speed="800" data-start="950" data-easing="Power4.easeOut"
                      data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.1"
                      data-endspeed="1000" data-endeasing="Power4.easeIn" style="z-index: 11;">
                      <h3 style="text-align: center; min-height: 0px; min-width: 0px; line-height: 94px; border-width: 0px; margin: 0px 0px 20px; padding: 0px; letter-spacing: 2px; font-size: 20px; text-transform: uppercase; font-weight: 700; color: #fff;">Exclusive
                          Summer Collection for Men</h3>
                  </div>

                  <div class="tp-caption largeHeadingWhite sfl str tp-resizeme start" data-x="center" data-y="center"
                      data-voffset="-40" data-speed="1200" data-start="950" data-easing="easeInOutExpo"
                      data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
                      data-endspeed="800" data-endeasing="easeInOutExpo">
                      <h1 style="text-align: center; min-height: 0px; min-width: 0px; line-height: 94px; border-width: 0px; margin: 0px 0px 20px; padding: 0px; font-size: 50px; font-weight: 800; color: #fff;">Best
                          of This Season</h1>
                  </div>

                  <div class="tp-caption detailTextWhiteLarge sfl tp-resizeme start" data-x="center" data-y="center"
                      data-voffset="30" data-speed="1200" data-start="1350" data-easing="easeInOutExpo"
                      data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
                      data-endspeed="300">
                      <p style="min-height: 0px; min-width: 0px; line-height: 30px; border-width: 0px; margin: 0px 0px 20px; padding: 0px; letter-spacing: 0px; font-size: 14px; color: #fff; text-align: center;">Lorem
                          consectetur adipiscing elit, sed do eiusmod tempor dolor sit amet <br> contetur
                          adipiscing elit, sed do eiusmod tempor incididunt</p>
                  </div>

                  <div class="tp-caption sfb tp-resizeme start" data-x="center" data-hoffset="-78" data-y="center"
                      data-voffset="90" data-speed="1200" data-start="1750" data-easing="easeInOutExpo"
                      data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
                      data-endspeed="300">
                      <a href="#why" class="btn btn-common">Buy Now</a>
                  </div>

                  <div class="tp-caption sfb tp-resizeme" data-x="center" data-hoffset="78" data-y="center"
                      data-voffset="90" data-speed="1200" data-start="1750" data-easing="easeInOutExpo"
                      data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
                      data-endspeed="300">

                  </div>
              </li>
              <li data-transition="fade" data-slotamount="7" data-masterspeed="2000" data-thumb="assets/img/slider/slide3.jpg"
                  data-delay="10000" style="background-size:cover">

                  <img src="assets/img/dummy.png" alt="laptopmockup_sliderdy" data-lazyload="assets/img/slider/slide3.jpg"
                      data-bgposition="right top" data-duration="12000" data-ease="Power0.easeInOut" data-bgfit="115"
                      data-bgfitend="100" data-bgpositionend="center bottom">

                  <div class="tp-caption sft skewtotop tp-resizeme title start" data-x="right" data-y="center"
                      data-voffset="-90" data-speed="800" data-start="950" data-easing="Power4.easeOut"
                      data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.1"
                      data-endspeed="1000" data-endeasing="Power4.easeIn" style="z-index: 11;">
                      <h3 style="text-align: center; min-height: 0px; min-width: 0px; line-height: 94px; border-width: 0px; margin: 0px 0px 20px; padding: 0px; letter-spacing: 2px; font-size: 20px; text-transform: uppercase; font-weight: 700; color: #333;">Big
                          Brands Products at Best Discounts</h3>
                  </div>

                  <div class="tp-caption largeHeadingWhite sfl str tp-resizeme start" data-x="right" data-y="center"
                      data-voffset="-40" data-speed="1200" data-start="950" data-easing="easeInOutExpo"
                      data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
                      data-endspeed="800" data-endeasing="easeInOutExpo">
                      <h1 style="text-align: center; min-height: 0px; min-width: 0px; line-height: 94px; border-width: 0px; margin: 0px 0px 20px; padding: 0px; font-size: 50px; font-weight: 800; color: #333;">Super-Saver
                          Offres</h1>
                  </div>

                  <div class="tp-caption detailTextWhiteLarge sfl tp-resizeme start" data-x="right" data-y="center"
                      data-voffset="30" data-speed="1200" data-start="1350" data-easing="easeInOutExpo"
                      data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
                      data-endspeed="300">
                      <p style="min-height: 0px; min-width: 0px; line-height: 30px; border-width: 0px; margin: 0px 0px 20px; padding: 0px; letter-spacing: 0px; font-size: 14px; color: #333; text-align: right;">Lorem
                          consectetur adipiscing elit, sed do eiusmod tempor dolor sit amet <br> contetur
                          adipiscing elit, sed do eiusmod tempor incididunt</p>
                  </div>

                  <div class="tp-caption sfb tp-resizeme start" data-x="right" data-hoffset="0" data-y="center"
                      data-voffset="90" data-speed="1200" data-start="1750" data-easing="easeInOutExpo"
                      data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
                      data-endspeed="300"><a class="btn btn-common" href="#"><i class="icon-clock" style="font-size: 14px"></i>View
                          Deals</a>
                  </div>
              </li>
          </ul>
      </div>
  </div>
</section>


<section class="feature-categories section">
  <div class="container">
      <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="feature-item-content">
                  <img src="assets/img/feature/img1.jpeg" alt="" height="502px">
                  <div class="feature-content">
                      <div class="banner-text">
                          <h4>Best Sale</h4>
                          <p>New Collection</p>
                      </div>
                      <a href="#" class="btn btn-common">Shop Now</a>
                  </div>
              </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="feature-item-content">
                  <img src="assets/img/feature/img3.jpg" alt=""  height="502px">
                  <div class="feature-content">
                      <div class="banner-text">
                          <h4>Women's</h4>
                          <p>Upt <span>40%</span> OFF</p>
                      </div>
                      <a href="#" class="btn btn-common">Shop Now</a>
                  </div>
              </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="feature-item-content mb-30">
                  <img src="assets/img/feature/img2.png" alt="" height="230">
                  <div class="feature-content">
                      <div class="banner-text accessories">
                          <h4>Women's Backpacks</h4>
                          <p>View Collection</p>
                      </div>
                      <a href="#" class="btn btn-common">Shop Now</a>
                  </div>
              </div>
              <div class="feature-item-content">
                  <img src="assets/img/feature/img4.jpg" alt="" >
                  <div class="feature-content">
                      <div class="banner-text accessories">
                          <h4> sunglasses</h4>
                          <p>View Collection</p>
                      </div>
                      <a href="#" class="btn btn-common">Shop Now</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>


<section id="shop-collection">
  <div class="container">
      <h1 class="section-title">New Arrivals</h1>
      <hr class="lines">
      <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="shop-product">
                  <div class="product-box">
                      <a href="#"><img src="assets/img/products/img-01.jpg" alt=""></a>
                      <div class="cart-overlay">
                      </div>
                      <span class="sticker new"><strong>NEW</strong></span>

                  </div>
                  <div class="product-info">
                      <h4 class="product-title"><a href="product-details.html">Faces Ultime Pro Perfecting Primer</a></h4>
                      <div class="align-items">
                          <div class="pull-left">
                              <span class="price"><i class="fa fa-rupee"></i>49.00</span>
                          </div>
                          <div class="pull-right">
                              <div class="reviews-icon">
                                  <i class="i-color fa fa-star"></i>
                                  <i class="i-color fa fa-star"></i>
                                  <i class="i-color fa fa-star"></i>
                                  <i class="fa fa-star-o"></i>
                                  <i class="fa fa-star-o"></i>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="actions">
                      <div class="add-to-links">
                          <a href="#" class="btn-wish"><i class="icon-heart"></i></a>
                          <a href="#" class="btn-cart"><i class="icon-basket-loaded"></i> Add to Bag</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="shop-product">
                  <div class="product-box">
                      <a href="#"><img src="assets/img/products/img-02.jpg" alt=""></a>
                      <div class="cart-overlay">
                      </div>
                      <span class="sticker discount"><strong>-40%</strong></span>

                  </div>
                  <div class="product-info">
                      <h4 class="product-title"><a href="product-details.html">Eius Modi Tempo</a></h4>
                      <div class="align-items">
                          <div class="pull-left">
                              <span class="price"><i class="fa fa-rupee"></i>59.00</span>
                          </div>
                          <div class="pull-right">
                              <div class="reviews-icon">
                                  <i class="i-color fa fa-star"></i>
                                  <i class="i-color fa fa-star"></i>
                                  <i class="i-color fa fa-star"></i>
                                  <i class="i-color fa fa-star"></i>
                                  <i class="fa fa-star-o"></i>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="actions">
                      <div class="add-to-links">
                          <a href="#" class="btn-wish"><i class="icon-heart"></i></a>
                          <a href="#" class="btn-cart"><i class="icon-basket-loaded"></i> Add to Bag</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="shop-product">
                  <div class="product-box">
                      <a href="#"><img src="assets/img/products/img-03.jpg" alt=""></a>
                      <div class="cart-overlay">
                      </div>

                  </div>
                  <div class="product-info">
                      <h4 class="product-title"><a href="product-details.html">Faces Ultime Pro Perfecting Primer</a></h4>
                      <div class="align-items">
                          <div class="pull-left">
                              <span class="price"><i class="fa fa-rupee"></i>69.00 <del><i class="fa fa-rupee"></i>79.00</del></span>
                          </div>
                          <div class="pull-right">
                              <div class="reviews-icon">
                                  <i class="i-color fa fa-star"></i>
                                  <i class="i-color fa fa-star"></i>
                                  <i class="i-color fa fa-star"></i>
                                  <i class="fa fa-star-o"></i>
                                  <i class="fa fa-star-o"></i>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="actions">
                      <div class="add-to-links">
                          <a href="#" class="btn-wish"><i class="icon-heart"></i></a>
                          <a href="#" class="btn-cart"><i class="icon-basket-loaded"></i> Add to Bag</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="shop-product">
                  <div class="product-box">
                      <a href="#"><img src="assets/img/products/img-04.jpg" alt=""></a>
                      <div class="cart-overlay">
                      </div>
                      <span class="sticker sale"><strong>Sale</strong></span>

                  </div>
                  <div class="product-info">
                      <h4 class="product-title"><a href="product-details.html">Faces Ultime Pro Perfecting Primer</a></h4>
                      <div class="align-items">
                          <div class="pull-left">
                              <span class="price"><i class="fa fa-rupee"></i>39.00</span>
                          </div>
                          <div class="pull-right">
                              <div class="reviews-icon">
                                  <i class="i-color fa fa-star"></i>
                                  <i class="i-color fa fa-star"></i>
                                  <i class="fa fa-star-o"></i>
                                  <i class="fa fa-star-o"></i>
                                  <i class="fa fa-star-o"></i>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="actions">
                      <div class="add-to-links">
                          <a href="#" class="btn-wish"><i class="icon-heart"></i></a>
                          <a href="#" class="btn-cart"><i class="icon-basket-loaded"></i> Add to Bag</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="shop-product">
                  <div class="product-box">
                      <a href="#"><img src="assets/img/products/img-05.jpg" alt=""></a>
                      <div class="cart-overlay">
                      </div>
                      <span class="sticker sale"><strong>Sale</strong></span>

                  </div>
                  <div class="product-info">
                      <h4 class="product-title"><a href="product-details.html">Faces Ultime Pro Perfecting Primer</a></h4>
                      <div class="align-items">
                          <div class="pull-left">
                              <span class="price"><i class="fa fa-rupee"></i>69.00</span>
                          </div>
                          <div class="pull-right">
                              <div class="reviews-icon">
                                  <i class="i-color fa fa-star"></i>
                                  <i class="i-color fa fa-star"></i>
                                  <i class="i-color fa fa-star"></i>
                                  <i class="fa fa-star-o"></i>
                                  <i class="fa fa-star-o"></i>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="actions">
                      <div class="add-to-links">
                          <a href="#" class="btn-wish"><i class="icon-heart"></i></a>
                          <a href="#" class="btn-cart"><i class="icon-basket-loaded"></i> Add to Bag</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="shop-product">
                  <div class="product-box">
                      <a href="#"><img src="assets/img/products/img-06.jpg" alt=""></a>
                      <div class="cart-overlay">
                      </div>

                  </div>
                  <div class="product-info">
                      <h4 class="product-title"><a href="product-details.html">Faces Ultime Pro Perfecting Primer</a></h4>
                      <div class="align-items">
                          <div class="pull-left">
                              <span class="price"><i class="fa fa-rupee"></i>39.00 <del><i class="fa fa-rupee"></i>79.00</del></span>
                          </div>
                          <div class="pull-right">
                              <div class="reviews-icon">
                                  <i class="i-color fa fa-star"></i>
                                  <i class="i-color fa fa-star"></i>
                                  <i class="i-color fa fa-star"></i>
                                  <i class="i-color fa fa-star"></i>
                                  <i class="fa fa-star-o"></i>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="actions">
                      <div class="add-to-links">
                          <a href="#" class="btn-wish"><i class="icon-heart"></i></a>
                          <a href="#" class="btn-cart"><i class="icon-basket-loaded"></i> Add to Bag</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="shop-product">
                  <div class="product-box">
                      <a href="#"><img src="assets/img/products/img-07.jpg" alt=""></a>
                      <div class="cart-overlay">
                      </div>
                      <span class="sticker new"><strong>NEW</strong></span>

                  </div>
                  <div class="product-info">
                      <h4 class="product-title"><a href="product-details.html">Faces Ultime Pro Perfecting Primer</a></h4>
                      <div class="align-items">
                          <div class="pull-left">
                              <span class="price"><i class="fa fa-rupee"></i>56.00</span>
                          </div>
                          <div class="pull-right">
                              <div class="reviews-icon">
                                  <i class="i-color fa fa-star"></i>
                                  <i class="i-color fa fa-star"></i>
                                  <i class="fa fa-star-o"></i>
                                  <i class="fa fa-star-o"></i>
                                  <i class="fa fa-star-o"></i>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="actions">
                      <div class="add-to-links">
                          <a href="#" class="btn-wish"><i class="icon-heart"></i></a>
                          <a href="#" class="btn-cart"><i class="icon-basket-loaded"></i> Add to Bag</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="shop-product">
                  <div class="product-box">
                      <a href="#"><img src="assets/img/products/img-08.jpg" alt=""></a>
                      <div class="cart-overlay">
                      </div>

                  </div>
                  <div class="product-info">
                      <h4 class="product-title"><a href="product-details.html">Faces Ultime Pro Perfecting Primer</a></h4>
                      <div class="align-items">
                          <div class="pull-left">
                              <span class="price"><i class="fa fa-rupee"></i>79.00</span>
                          </div>
                          <div class="pull-right">
                              <div class="reviews-icon">
                                  <i class="i-color fa fa-star"></i>
                                  <i class="i-color fa fa-star"></i>
                                  <i class="i-color fa fa-star"></i>
                                  <i class="fa fa-star-o"></i>
                                  <i class="fa fa-star-o"></i>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="actions">
                      <div class="add-to-links">
                          <a href="#" class="btn-wish"><i class="icon-heart"></i></a>
                          <a href="#" class="btn-cart"><i class="icon-basket-loaded"></i> Add to Bag</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>


<section class="discount-product-area">
  <div class="container">
      <div class="row">
          <div class="discount-text">
              <p>Best Deals of The Week</p>
              <h3>Up to 60% Discount on Winter Collection!</h3>
              <a href="#" class="btn btn-common btn-large">View Deals</a>
          </div>
      </div>
  </div>
</section>


<section class="section">
  <div class="container">
      <h1 class="section-title">Featured Products</h1>
      <hr class="lines">
      <div class="row">
          <div class="col-md-12">
              <div id="new-products" class="owl-carousel">
                  <div class="item">
                      <div class="shop-product">
                          <div class="product-box">
                              <a href="#"><img src="assets/img/feature-products/img-01.jpg" alt=""></a>
                              <div class="cart-overlay">
                              </div>
                              <span class="sticker new"><strong>NEW</strong></span>

                          </div>
                          <div class="product-info">
                              <h4 class="product-title"><a href="product-details.html">Faces Ultime Pro
                                      Perfecting Primer</a></h4>
                              <div class="align-items">
                                  <div class="pull-left">
                                      <span class="price"><i class="fa fa-rupee"></i>49.00</span>
                                  </div>
                                  <div class="pull-right">
                                      <div class="reviews-icon">
                                          <i class="i-color fa fa-star"></i>
                                          <i class="i-color fa fa-star"></i>
                                          <i class="i-color fa fa-star"></i>
                                          <i class="fa fa-star-o"></i>
                                          <i class="fa fa-star-o"></i>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="actions">
                              <div class="add-to-links">
                                  <a href="#" class="btn-wish"><i class="icon-heart"></i></a>
                                  <a href="#" class="btn-cart"><i class="icon-basket-loaded"></i> Add to Bag</a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="item">
                      <div class="shop-product">
                          <div class="product-box">
                              <a href="#"><img src="assets/img/feature-products/img-02.jpg" alt=""></a>
                              <div class="cart-overlay">
                              </div>

                          </div>
                          <div class="product-info">
                              <h4 class="product-title"><a href="product-details.html">Faces Ultime Pro
                                      Perfecting Primer</a></h4>
                              <div class="align-items">
                                  <div class="pull-left">
                                      <span class="price"><i class="fa fa-rupee"></i>59.00 <del><i class="fa fa-rupee"></i>79.00</del></span>
                                  </div>
                                  <div class="pull-right">
                                      <div class="reviews-icon">
                                          <i class="i-color fa fa-star"></i>
                                          <i class="i-color fa fa-star"></i>
                                          <i class="i-color fa fa-star"></i>
                                          <i class="i-color fa fa-star"></i>
                                          <i class="fa fa-star-o"></i>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="actions">
                              <div class="add-to-links">
                                  <a href="#" class="btn-wish"><i class="icon-heart"></i></a>
                                  <a href="#" class="btn-cart"><i class="icon-basket-loaded"></i> Add to Bag</a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="item">
                      <div class="shop-product">
                          <div class="product-box">
                              <a href="#"><img src="assets/img/feature-products/img-03.jpg" alt=""></a>
                              <div class="cart-overlay">
                              </div>
                              <span class="sticker sale"><strong>Sale</strong></span>

                          </div>
                          <div class="product-info">
                              <h4 class="product-title"><a href="product-details.html">Faces Ultime Pro
                                      Perfecting Primer</a></h4>
                              <div class="align-items">
                                  <div class="pull-left">
                                      <span class="price"><i class="fa fa-rupee"></i>68.00</span>
                                  </div>
                                  <div class="pull-right">
                                      <div class="reviews-icon">
                                          <i class="i-color fa fa-star"></i>
                                          <i class="i-color fa fa-star"></i>
                                          <i class="i-color fa fa-star"></i>
                                          <i class="fa fa-star-o"></i>
                                          <i class="fa fa-star-o"></i>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="actions">
                              <div class="add-to-links">
                                  <a href="#" class="btn-wish"><i class="icon-heart"></i></a>
                                  <a href="#" class="btn-cart"><i class="icon-basket-loaded"></i> Add to Bag</a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="item">
                      <div class="shop-product">
                          <div class="product-box">
                              <a href="#"><img src="assets/img/feature-products/img-04.jpg" alt=""></a>
                              <div class="cart-overlay">
                              </div>

                          </div>
                          <div class="product-info">
                              <h4 class="product-title"><a href="product-details.html">Faces Ultime Pro
                                      Perfecting Primer</a></h4>
                              <div class="align-items">
                                  <div class="pull-left">
                                      <span class="price"><i class="fa fa-rupee"></i>59.00 <del><i class="fa fa-rupee"></i>69.00</del></span>
                                  </div>
                                  <div class="pull-right">
                                      <div class="reviews-icon">
                                          <i class="i-color fa fa-star"></i>
                                          <i class="i-color fa fa-star"></i>
                                          <i class="fa fa-star-o"></i>
                                          <i class="fa fa-star-o"></i>
                                          <i class="fa fa-star-o"></i>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="actions">
                              <div class="add-to-links">
                                  <a href="#" class="btn-wish"><i class="icon-heart"></i></a>
                                  <a href="#" class="btn-cart"><i class="icon-basket-loaded"></i> Add to Bag</a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="item">
                      <div class="shop-product">
                          <div class="product-box">
                              <a href="#"><img src="assets/img/feature-products/img-05.jpg" alt=""></a>
                              <div class="cart-overlay">
                              </div>
                              <span class="sticker discount"><strong>-40%</strong></span>

                          </div>
                          <div class="product-info">
                              <h4 class="product-title"><a href="product-details.html">Faces Ultime Pro
                                      Perfecting Primer</a></h4>
                              <div class="align-items">
                                  <div class="pull-left">
                                      <span class="price"><i class="fa fa-rupee"></i>79.00</span>
                                  </div>
                                  <div class="pull-right">
                                      <div class="reviews-icon">
                                          <i class="i-color fa fa-star"></i>
                                          <i class="i-color fa fa-star"></i>
                                          <i class="i-color fa fa-star"></i>
                                          <i class="fa fa-star-o"></i>
                                          <i class="fa fa-star-o"></i>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="actions">
                              <div class="add-to-links">
                                  <a href="#" class="btn-wish"><i class="icon-heart"></i></a>
                                  <a href="#" class="btn-cart"><i class="icon-basket-loaded"></i> Add to Bag</a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="item">
                      <div class="shop-product">
                          <div class="product-box">
                              <a href="#"><img src="assets/img/feature-products/img-06.jpg" alt=""></a>
                              <div class="cart-overlay">
                              </div>

                          </div>
                          <div class="product-info">
                              <h4 class="product-title"><a href="product-details.html">Faces Ultime Pro
                                      Perfecting Primer</a></h4>
                              <div class="align-items">
                                  <div class="pull-left">
                                      <span class="price"><i class="fa fa-rupee"></i> 69.00</span>
                                  </div>
                                  <div class="pull-right">
                                      <div class="reviews-icon">
                                          <i class="i-color fa fa-star"></i>
                                          <i class="i-color fa fa-star"></i>
                                          <i class="i-color fa fa-star"></i>
                                          <i class="i-color fa fa-star"></i>
                                          <i class="fa fa-star-o"></i>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="actions">
                              <div class="add-to-links">
                                  <a href="#" class="btn-wish"><i class="icon-heart"></i></a>
                                  <a href="#" class="btn-cart"><i class="icon-basket-loaded"></i> Add to Bag</a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="item">
                      <div class="shop-product">
                          <div class="product-box">
                              <a href="#"><img src="assets/img/feature-products/img-07.jpg" alt=""></a>
                              <div class="cart-overlay">
                              </div>
                              <span class="sticker sale"><strong>Sale</strong></span>

                          </div>
                          <div class="product-info">
                              <h4 class="product-title"><a href="product-details.html">Faces Ultime Pro
                                      Perfecting Primer</a></h4>
                              <div class="align-items">
                                  <div class="pull-left">
                                      <span class="price"><i class="fa fa-rupee"></i>56.00</span>
                                  </div>
                                  <div class="pull-right">
                                      <div class="reviews-icon">
                                          <i class="i-color fa fa-star"></i>
                                          <i class="i-color fa fa-star"></i>
                                          <i class="i-color fa fa-star"></i>
                                          <i class="fa fa-star-o"></i>
                                          <i class="fa fa-star-o"></i>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="actions">
                              <div class="add-to-links">
                                  <a href="#" class="btn-wish"><i class="icon-heart"></i></a>
                                  <a href="#" class="btn-cart"><i class="icon-basket-loaded"></i> Add to Bag</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>


<section id="content-area">
  <div class="container">
      <div class="hero-land clearfix">
          <div class="landing caption">
              <h2>The Perfect Primer For You</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis rem, ducimus
                  reprehenderit sed molestiae iure sapiente accusamus incidunt minima expedita velit assumenda
                  vitae libero. Eaque nostrum magni architecto, corporis doloremque!</p>
              <p>
                  <a href="category.html" class="btn btn-common">Explore</a>
              </p>
          </div>
      </div>
  </div>
</section>





<div class="support section">
  <div class="container">
      <div class="row">
          <div class="support-inner">
              <div class="col-md-4 col-sm-4 col-xs-12">
                  <div class="row-normal clearfix">
                      <div class="support-info">
                          <div class="info-title">
                              <i class="icon-plane"></i>
                              850+ BRANDS
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12">
                  <div class="row-normal clearfix">
                      <div class="support-info">
                          <div class="info-title">
                              <i class="icon-earphones-alt"></i>
                              24/7 Customer Service
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12">
                  <div class="row-normal clearfix">
                      <div class="support-info">
                          <div class="info-title">
                              <i class="icon-heart"></i>
                              Easy Return Policy
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<app-footer></app-footer>


