@import 'https://fonts.googleapis.com/css?family=Josefin+Sans:400,700|Open+Sans:400,700';
body {
    font-family: open sans, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    overflow-x: hidden;
    margin-top: 110px;
}

html {
    overflow-x: hidden
}

img {
    max-width: 100%
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: josefin sans, sans-serif;
    font-weight: 700
}

h3 {
    font-size: 1.6em;
    line-height: 1.4em
}

p {
    font-size: 14px;
    font-family: open sans, sans-serif;
    margin: 0;
    line-height: 24px;
    font-weight: 400
}

a {
    color: #2d2d2d;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear
}

a:hover,
a:focus {
    color: #fc2779
}

ul {
    margin: 0;
    padding: 0
}

ul li {
    list-style: none;
    margin: 0
}

ol {
    list-style: none
}

a:hover,
a:focus {
    text-decoration: none;
    outline: none
}

#content {
    padding: 60px 0
}

.section {
    padding: 60px 0
}

.section-title {
    text-align: center;
    font-size: 40px;
    position: relative;
    margin-bottom: 15px;
    margin-top: 0
}

.small-title {
    font-size: 24px;
    padding: 15px 0
}

.lines {
    margin: auto;
    width: 70px;
    position: relative;
    border-top: 2px solid #fc2779;
    margin-top: 15px;
    margin-bottom: 40px
}

.page-header {
    padding: 20px 0;
    background: transparent;
    margin: 0
}

.page-header .entry-title {
    float: right;
    font-size: 14px;
    margin: 3px 0;
    color: #a3a3a3;
    font-weight: 400
}

.breadcrumb {
    font-size: 14px;
    color: #a3a3a3;
    background: 0 0;
    margin: 3px 0 6px;
    padding: 8px 6px;
    border-radius: 0;
    margin: 0 auto;
    position: relative;
    z-index: 1
}

.breadcrumb a {
    color: #a3a3a3
}

.breadcrumb a:hover {
    color: #fc2779
}

.breadcrumb .crumbs-spacer {
    color: #a3a3a3;
    margin: 0 4px
}

.white-bg {
    background: #fff
}

.gray-bg {
    background: #f5f5f5
}

.btn {
    color: #fff;
    border-radius: 2px;
    position: relative;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    border: none;
    text-transform: uppercase
}

.btn:focus,
.btn:hover {
    color: #fff;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .15), 0 4px 15px 0 rgba(0, 0, 0, .15)
}

.btn-common {
    padding: 12px 30px;
    background: #fc2779;
    position: relative;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1), 0 2px 5px 0 rgba(0, 0, 0, .15)
}

.btn-common::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, .1);
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s
}

.btn-common:hover::before {
    opacity: 0;
    transform: scale(.5, .5)
}

.btn-danger:hover {
    background: #f7716d
}

.btn-border {
    border: 1px solid #fff!important;
    background: 0 0;
    padding: 10px 30px;
    text-transform: uppercase
}

.btn-border:hover {
    opacity: .8;
    color: #fff
}

.btn-sm {
    font-size: 13px;
    padding: 10px 18px;
    margin-bottom: 5px;
    border: none
}

.btn-xs {
    border-radius: 0;
    font-size: 12px;
    line-height: 1.5;
    padding: 1px 5px
}

.btn-rm {
    padding: 10px 21px;
    margin-top: 30px;
    text-transform: capitalize
}

button {
    background: 0 0;
    border: none;
    display: inline-block;
    padding: 0;
    outline: none;
    outline-offset: 0;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-transition: .3s all ease;
    -o-transition: .3s all ease;
    -webkit-transition: .3s all ease;
    transition: .3s all ease
}

#loader {
    position: fixed;
    background: #fff;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999999
}

.sk-folding-cube {
    margin: 0 auto;
    top: 50%;
    width: 50px;
    height: 50px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg)
}

.sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1)
}

.sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fc2779;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
    animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%
}

.sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
    transform: scale(1.1) rotateZ(90deg)
}

.sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
    transform: scale(1.1) rotateZ(180deg)
}

.sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
    transform: scale(1.1) rotateZ(270deg)
}

.sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: .3s;
    animation-delay: .3s
}

.sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: .6s;
    animation-delay: .6s
}

.sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: .9s;
    animation-delay: .9s
}

@-webkit-keyframes sk-foldCubeAngle {
    0%,
    10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0
    }
    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1
    }
    90%,
    100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0
    }
}

@keyframes sk-foldCubeAngle {
    0%,
    10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0
    }
    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1
    }
    90%,
    100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0
    }
}

.back-to-top {
    display: none;
    position: fixed;
    bottom: 35px;
    right: 15px
}

.back-to-top i {
    display: block;
    width: 36px;
    font-size: 14px;
    height: 36px;
    background: #fc2779;
    line-height: 36px;
    color: #fff;
    border-radius: 2px;
    text-align: center;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out
}

ul.social-list {
    float: right
}

ul.social-list li {
    float: left;
    padding: 6px 0
}

ul.social-list li a {
    display: inline-block;
    color: #999
}

ul.social-list li a i {
    font-size: 16px;
    display: block;
    width: 34px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out
}

.social-list li .fa-facebook:hover {
    color: #507cbe
}

.social-list li .fa-twitter:hover {
    color: #63cdf1
}

.social-list li .fa-google-plus:hover {
    color: #f16261
}

.social-list li .fa-linkedin:hover {
    color: #90cadd
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 9999999
}

#status {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -20px 0 0 -20px
}

.spinner {
    margin: 0 auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 5px solid rgba(238, 110, 115, .2);
    border-right: 5px solid rgba(238, 110, 115, .2);
    border-bottom: 5px solid rgba(238, 110, 115, .2);
    border-left: 5px solid #fc2779;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear
}

.spinner,
.spinner:after {
    border-radius: 50%;
    width: 40px;
    height: 40px
}

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999999;
    transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out
}
.fixed-header {
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0;
}

.top-bar {
    background: #fc2779;
    border-bottom: 1px solid #f85177
}

.top-bar .contact-details li {
    display: inline-block
}

.top-bar .contact-details li a {
    font-size: 13px;
    display: block;
    margin-left: 15px;
    color: #222;
    line-height: 48px
}

.top-bar .contact-details li a i {
    padding-right: 5px;
    vertical-align: middle
}

.account-setting {
    position: relative;
    float: right;
    padding: 4px;
    margin-right: 5px;
    color: #fff
}

.account-setting a {
    display: inline-block;
    padding: 6px;
    outline: none;
    font-size: 12px;
    text-decoration: none;
    color: #fff
}

.account-setting a i {
    margin-right: 5px
}

.account-setting a:hover {
    color: #fc2779
}

.top-bar-bottom {
    background: #fc2779;
    padding: 15px
}

.top-bar-bottom .header-logo {
    float: left
}

.top-bar-bottom .name-title {
    float: left;
    padding: 5px 20px;
    margin-top: 10px;
    border-left: 1px dotted #aaa
}

.search-area {
    margin: 8px 17px 0;
    background: #fff;
    border-radius: 2px;
    border: 1px solid #ddd;
    width: 75%;
    float: left
}

.search-area .categories-filter {
    border-right: 1px solid #e0e0e0;
    text-transform: capitalize;
    display: inline-block;
    line-height: 38px;
    background: #fff;
    border-radius: 0
}

.search-area .categories-filter .dropdown-menu {
    min-width: 180px;
    border: none;
    padding: 3px 15px;
    border-radius: 0;
    z-index: 999999;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175)
}

.search-area .categories-filter .dropdown-menu .menu-header {
    margin: 0
}

.search-area .categories-filter .dropdown-menu li {
    margin-bottom: 10px
}

.search-area .categories-filter .dropdown-menu li a {
    border-bottom: none
}

.search-area .categories-filter a {
    padding: 0 20px;
    color: #666;
    font-size: 13px
}

.search-area .search-field {
    border: none;
    padding: 7px 5px;
    color: #777;
    width: 58%
}

.search-area .search-field:focus {
    outline: none
}

.search-area .search-button {
    display: inline-block;
    float: right;
    margin: 0;
    padding: 6px 16px 9px;
    text-align: center
}

.search-area .search-button i {
    vertical-align: middle
}

.search-area .search-button i:hover {
    color: #fc2779
}

.toggle-wrap {
    position: relative
}

.toggle_cont {
    display: none;
    background: #fff;
    border-radius: 2px;
    -webkit-box-shadow: 0 5px 18px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 5px 18px rgba(0, 0, 0, .15);
    box-shadow: 0 5px 18px rgba(0, 0, 0, .15);
    padding: 7px 0;
    list-style-type: none;
    position: absolute;
    right: 0;
    top: 100%;
    width: 200px;
    z-index: 20;
    font-size: 14px;
    line-height: 16px
}

.toggle_cont>li {
    padding: 8px 5px 8px 20px;
    display: inline-block;
    width: 100%
}

.toggle_cont>li>a,
.toggle_cont>li>button {
    text-align: left;
    display: inline-block;
    color: #a5a8ae;
    background: 0 0
}

.toggle_cont>li>a:visited,
.toggle_cont>li>button:visited {
    color: #a5a8ae
}

.toggle_cont>li>a:hover,
.toggle_cont>li>a:active,
.toggle_cont>li>a:focus,
.toggle_cont>li>button:hover,
.toggle_cont>li>button:active,
.toggle_cont>li>button:focus {
    color: #34373c;
    background: 0 0!important
}

.language-wrapper {
    float: left
}

.language-wrapper a {
    margin-right: 20px
}

.box-language,
.box-currency {
    display: inline-block;
    padding: 17px 0;
    margin-right: 15px
}

.box-language .btn-group,
.box-currency .btn-group {
    vertical-align: top;
    margin: 0
}

.box-language img,
.box-currency img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 7px;
    position: relative;
    top: -1px
}

.box-language .toggle,
.box-currency .toggle {
    color: #222;
    display: block;
    text-align: center;
    cursor: pointer;
    padding: 0 3px;
    border-radius: 2px;
    -moz-transition: .3s all ease;
    -o-transition: .3s all ease;
    -webkit-transition: .3s all ease;
    transition: .3s all ease
}

.box-language .toggle span+span,
.box-currency .toggle span+span {
    margin-right: 17px;
    float: left
}

.box-language .toggle span:first-child,
.box-currency .toggle span:first-child {
    position: relative;
    -moz-transition: .3s all ease;
    -o-transition: .3s all ease;
    -webkit-transition: .3s all ease;
    transition: .3s all ease
}

.box-language .toggle:after,
.box-currency .toggle:after {
    display: inline-block;
    content: '\f107';
    font-size: 13px;
    font-weight: 400;
    margin-left: 0;
    font-family: fontawesome;
    vertical-align: top;
    -moz-transition: .3s all ease;
    -o-transition: .3s all ease;
    -webkit-transition: .3s all ease;
    transition: .3s all ease
}

.box-language .toggle.active,
.box-language .toggle:hover,
.box-currency .toggle.active,
.box-currency .toggle:hover {
    color: #34373c
}

.box-language .toggle_cont,
.box-currency .toggle_cont {
    left: 0;
    top: 32px;
    width: 133px;
    text-align: left;
    z-index: 99
}

.box-language .toggle_cont>li>a,
.box-language .toggle_cont>li>button,
.box-currency .toggle_cont>li>a,
.box-currency .toggle_cont>li>button {
    color: #a5a8ae
}

.box-language .toggle_cont>li>a:visited,
.box-language .toggle_cont>li>button:visited,
.box-currency .toggle_cont>li>a:visited,
.box-currency .toggle_cont>li>button:visited {
    color: #a5a8ae
}

.box-language .toggle_cont>li>a:hover,
.box-language .toggle_cont>li>a:active,
.box-language .toggle_cont>li>a:focus,
.box-language .toggle_cont>li>a.selected,
.box-language .toggle_cont>li>button:hover,
.box-language .toggle_cont>li>button:active,
.box-language .toggle_cont>li>button:focus,
.box-language .toggle_cont>li>button.selected,
.box-currency .toggle_cont>li>a:hover,
.box-currency .toggle_cont>li>a:active,
.box-currency .toggle_cont>li>a:focus,
.box-currency .toggle_cont>li>a.selected,
.box-currency .toggle_cont>li>button:hover,
.box-currency .toggle_cont>li>button:active,
.box-currency .toggle_cont>li>button:focus,
.box-currency .toggle_cont>li>button.selected {
    color: #34373c
}

.box-currency .toggle_cont {
    width: 120px
}

.cart-popup {
    position: relative;
    display: inline-block
}

.cart-popup .dropdown-popup:hover .cart-box {
    opacity: 1;
    top: 83px;
    transition: all .5s ease 0s;
    visibility: visible;
    z-index: 99999999
}

.cart-box {
    position: absolute;
    z-index: 99;
    opacity: 0;
    transition: all .5s ease 0s;
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    visibility: hidden;
    width: 300px;
    left: auto;
    top: 58px;
    right: -27px
}

.cart-box .popup-container {
    border: 1px solid #ddd;
    padding: 15px;
    background: #fff;
    position: relative
}

.cart-box .popup-container:before {
    background: url(../img/search-angle.png);
    content: "";
    height: 15px;
    position: absolute;
    right: 32px;
    top: -15px;
    width: 28px
}

.cart-box .cart-entry {
    padding-bottom: 20px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
    position: relative
}

.cart-box .image {
    float: left;
    width: 70px
}

.cart-box .content {
    padding: 0 20px 0 85px;
    text-align: left;
    width:100%
}

.cart-box .content .title {
    font-size: 14px;
    line-height: 18px;
    color: #333;
    font-weight: 700;
    margin-bottom: 5px;
    display: block
}

.cart-box .content .quantity {
    font-size: 12px;
    line-height: 24px;
    color: #999;
    margin-bottom: 3px
}

.cart-box .content .price {
    font-size: 18px;
    line-height: 24px;
    color: #e11414;
    font-weight: 700
}

.cart-box .button-x {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer
}

.cart-box .summary {
    width: 100%;
    padding-bottom: 40px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
    position: relative
}

.cart-box .summary .subtotal,
.cart-box .summary .price-s {
    color: #333;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase
}

.cart-box .summary .subtotal {
    float: left
}

.cart-box .summary .price-s {
    float: right
}

.cart-box .cart-buttons {
    display: block
}

.cart-box .cart-buttons .btn {
    padding: 10px 25px;
    font-size: 12px;
    text-transform: uppercase;
    margin-right: 5px;
    margin-left: 5px
}

.cart-box .cart-buttons .btn-border-2 {
    background: #f0f0f0;
    border: 1px solid #f0f0f0;
    color: #333
}

.cart-box .cart-buttons .btn-border-2:hover {
    background: 0 0;
    border-color: #fc2779;
    color: #fc2779
}

.shop-cart {
    float: right;
    margin: 8px 0
}

.shop-cart ul li {
    display: inline-block;
    position: relative
}

.shop-cart ul li .cart-btn {
    display: block;
    background: #2d2d2d;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 8px 14px;
    position: relative
}

.shop-cart ul li .cart-btn:hover {
    background: #2d2d2d
}

.shop-cart ul li .cart-btn .cart-label {
    color: #fff;
    background-color: #e02fb4;
    font-size: 11px;
    font-weight: 700;
    width: 22px;
    height: 22px;
    text-align: center;
    position: absolute;
    right: -12px;
    top: -14%;
    border-radius: 50%;
    line-height: 22px
}

.shop-cart ul li:hover .cart-box {
    opacity: 1;
    transition: all .5s ease 0s;
    visibility: visible;
    z-index: 99999999
}

.popup:last-child {
    margin-bottom: 0!important
}

.shopping-cart a i {
    padding: 20px 0
}

.shopping-cart .indicator {
    display: none
}

.shop-icon li {
    margin-left: 25px
}

.shop-icon li a i {
    color: #888;
    font-size: 15px;
    padding: 20px 0
}

.link-inline {
    display: inline-block;
    float: left;
    padding: 5px 12px;
    margin-left: 8px;
    border-radius: 2px;
    border: 1px solid #fc2779;
    transition: all .5s ease 0s;
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s
}

.link-inline a {
    color: #fc2779
}

.link-inline a span {
    font-size: 13px;
    margin: 4px
}

.icon-right {
    margin-top: 25px
}

.categories-wrapper {
    border: 1px solid #eee;
    margin: 0
}

.categories-wrapper .block-title {
    padding: 15px;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    background: #fc2779
}

.navbar-default.affix {
    width: 100%;
    z-index: 99999;
    box-shadow: 0 0 3px rgba(0, 0, 0, .2)
}

.navbar-default.affix .navbar-brand {
    padding: 7px 15px;
    height: 54px
}

.navbar-default.affix .navbar-nav>li {
    padding-top: 5px;
    padding-bottom: 5px
}

.navbar-default.affix .icon-right {
    margin-top: 10px
}

.caret {
    border-top: none;
    border-right: none;
    position: relative;
    line-height: 22px
}

.caret:before {
    content: "\e604";
    font-family: simple-line-icons;
    left: -2px;
    top: -12px;
    font-size: 11px;
    float: right;
    position: absolute
}

.navbar {
    margin-bottom: 0;
    background: #fff;
    border: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0
}

.navbar-brand {
    margin: 0!important;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out
}


.navbar-default .navbar-nav {
    margin-right: 10px!important;
    position: relative;
    transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out
}

.navbar-default .navbar-nav>li {
    margin-left: 6px;
    padding-top: 20px;
    padding-bottom: 20px
}

.navbar-default .navbar-nav>li>a {
    display: block;
    font-size: 14px;
    border-radius: 0;
    border: 1px solid transparent;
    padding: 10px 20px;
    text-transform: uppercase;
    overflow: hidden;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    font-weight: 600;
    text-transform: uppercase;
    color: #03021a;
}

.navbar-default .navbar-nav>li:hover>a,
.navbar-default .navbar-nav>li>a.active {
    color: #fc2779;
    border-radius: 2px
}

.navbar-default .navbar-nav>li>a i {
    margin: 0 -2px 0 -5px
}

.navbar-default .navbar-nav .dropdown {
    position: absolute;
    left: 0;
    margin-top: 25px;
    border-top: 1px solid #f85177;
    top: 100%;
    min-width: 220px;
    background-color: #fff;
    visibility: hidden;
    z-index: 999;
    opacity: 0;
    border-radius: 2px;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    -ms-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175)
}

.navbar-default .navbar-nav>li.drop:hover .dropdown {
    visibility: visible;
    opacity: 1;
    margin-top: 0
}

.dropdown li,
.sup-dropdown li {
    position: relative
}

.dropdown li a {
    display: block;
    color: #666;
    font-size: 13px;
    border-bottom: 1px solid #f1f1f1;
    font-family: open sans, sans-serif;
    padding: 10px 18px;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out
}

.dropdown li:last-child a {
    border: none
}

.dropdown li a i {
    margin: 0 0 0 -4px
}

.dropdown>li:hover>a {
    color: #fc2779
}

.dropdown li a.active {
    color: #fc2779
}

.navbar-default .mega-menu {
    background: #3f3f3f;
    padding: 30px;
    width: 700px;
    max-width: 900px
}

.navbar-default .mega-menu .menulinks .maga-menu-title {
    display: block;
    margin-bottom: 10px
}

.navbar-default .mega-menu .menulinks .maga-menu-title a {
    font-weight: 700;
    font-size: 15px;
    padding: 0 0 7px;
    color: #222;
    display: block;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 1px
}

.navbar-default .mega-menu .menulinks .maga-menu-title a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 16px;
    height: 1px;
    background: #e3e3e3
}

.navbar-default .mega-menu .menulinks li a {
    font-size: 13px;
    font-weight: 400;
    padding: 0;
    border: none;
    display: block
}

.navbar-default .mega-menu .menulinks li a:hover {
    color: #fc2779
}

.navbar-default .megamenu2 {
    width: 815px;
    background-image: url(../img/bg-accessories.jpg);
    background-position: right top;
    background-repeat: no-repeat
}

.mobile-menu {
    display: none
}

.slicknav_menu {
    display: none
}

.slicknav_btn:hover {
    background: #fc2779
}

.slicknav_menu .slicknav_icon-bar {
    background: #fc2779
}

@media screen and (max-width:767px) {
    .js .mobile-menu {
        display: none
    }
    .slicknav_menu {
        display: block
    }
}

.navbar-toggle {
    display: none
}

.dropdown-search {
    min-width: 360px!important;
    padding: 15px;
    right: 0;
    left: auto;
    margin-top: 13px
}

.dropdown-search input {
    border: 1px solid #e8e8e8;
    padding: 7px 5px;
    color: #777;
    width: 100%
}

.dropdown-search .input-outer {
    position: relative
}

.dropdown-search .input-outer button {
    position: absolute;
    right: 0;
    top: 0
}

.dropdown-search .sb-search-submit {
    text-align: center;
    padding: 10px 22px;
    text-transform: inherit;
    background: #fc2779;
    color: #fff;
    border-radius: 0
}

.dropdown .dropdown-search {
    left: auto;
    right: -15px;
    margin-top: 16px
}

.dropdown.text-right .dropdown-menu {
    left: auto;
    right: -15px;
    margin-top: 16px;
    padding: 0
}

.dropdown-menu {
    position: absolute;
    left: 0;
    border-top: 1px solid #fc2779;
    top: 100%;
    min-width: 220px;
    background-color: #fff;
    z-index: 999;
    border-radius: 2px;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    -ms-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175)
}

.dropdown-menu li a {
    display: block;
    color: #666;
    font-size: 13px;
    background: #fff;
    border-bottom: 1px solid #f1f1f1;
    font-family: open sans, sans-serif;
    padding: 10px 18px;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out
}

.dropdown-menu li a .icon {
    margin-right: 10px
}

.dropdown-menu li a:hover {
    color: #fc2779;
    background: 0 0
}

.vertical-menu li {
    display: block;
    position: relative;
    border-top: 1px solid #eee
}

.vertical-menu li a {
    margin: 0;
    padding: 12px 20px;
    display: block;
    font-size: 14px;
    color: #333;
    font-weight: 400;
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.vertical-menu li>a:hover,
.vertical-menu li>a:focus,
.vertical-menu li>a:active {
    background: #fc2779;
    color: #fff!important
}

.vertical-menu li>ul.dropdown-menu {
    margin: 0;
    padding: 0;
    border: none;
    position: absolute;
    left: 260px;
    top: 0
}

.vertical-menu li>ul.dropdown-menu li {
    border: none
}

.vertical-menu li>ul.dropdown-menu li a {
    padding: 15px 36px;
    font-size: 13px
}

.vertical-menu .caret {
    float: right;
    margin-top: 10px
}

.caret-right {
    float: right;
    margin-top: 5px
}

.categories-wrapper ul li.dropdown.open {
    -moz-transition: transform .5s linear;
    -webkit-transition: transform .5s linear;
    -o-transition: transform .5s linear;
    -ms-transition: transform .5s linear
}

#slider .btn {
    margin: 30px 14px 0 0
}

#slider i {
    margin-right: 10px
}

.big-title {
    font-family: josefin sans, sans-serif;
    font-size: 60px;
    color: #fff;
    text-transform: uppercase
}

.medium-title {
    color: #fff;
    font-family: josefin sans, sans-serif;
    font-size: 22px;
    line-height: 30px;
    font-weight: 300
}

.mr {
    margin-right: 10px
}

.text-left {
    text-align: left!important
}

.text-right {
    text-align: right!important
}

.feature-item-content {
    position: relative;
    overflow: hidden
}

.feature-item-content img {
    width: 100%;
    -webkit-transition: opacity .3s, -webkit-transform .3s;
    transition: opacity .3s, transform .3s;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1)
}

.feature-item-content .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(9, 9, 9, .6);
    top: 0;
    left: 0;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    transition: all .5s
}

.feature-item-content .feature-content {
    position: absolute;
    text-align: center;
    top: 60%;
    left: 0;
    right: 0
}

.feature-item-content .feature-content .banner-text {
    display: inline-block;
    padding: 15px;
    position: absolute;
    text-align: center;
    transition: all .3s ease-in-out 0s;
    background: rgba(255, 255, 255, .7) none repeat scroll 0% 0%;
    left: 40px;
    right: 40px;
    margin: 20px auto;
    bottom: 40px;
    border-radius: 3px
}

.feature-item-content .feature-content .banner-text h4 {
    font-size: 30px;
    text-transform: uppercase;
    color: #333
}

.feature-item-content .feature-content .accessories h4 {
    font-size: 18px;
    padding-bottom: 5px;
    text-transform: uppercase
}

.feature-item-content:hover .overlay {
    opacity: 1
}

.feature-item-content:hover img {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    transform: scale(1.05)
}

#shop-collection {
    padding-bottom: 60px
}

#new-products .shop-product {
    margin-left: 5px;
    margin-right: 5px;
    padding: 0 0 50px;
    position: relative
}

#new-products .owl-controls {
    position: absolute;
    top: 45%;
    display: inline-block;
    width: 100%
}

#new-products .owl-controls .owl-buttons div.owl-prev {
    left: -60px;
    position: absolute
}

#new-products .owl-controls .owl-buttons div.owl-next {
    right: -60px;
    position: absolute
}

.shop-product {
    margin: 15px 0;
    position: relative;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, .12);
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    margin-bottom: 50px;
    padding-bottom: 50px;
}

.shop-product .product-box {
    position: relative;
    overflow: hidden
}

.shop-product .product-box img {
    width: 100%
}

.shop-product .product-box .cart-overlay {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    opacity: 0;
    height: 100%;
    background: rgba(9, 9, 9, .6);
    -webkit-transition: all 300ms ease-out 0s;
    -moz-transition: all 300ms ease-out 0s;
    transition: all 300ms ease-out 0s
}

.shop-product .sticker {
    position: absolute;
    top: 7px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border-radius: 50%;
    text-transform: uppercase;
    color: #fff;
    padding: 10px 0;
    right: 7px;
    line-height: 28px;
    text-align: center
}

.shop-product .sale {
    background: #000
}

.shop-product .new {
    background: #ffc107
}

.shop-product .discount {
    background: #fc2779
}

.shop-product .product-info {
    padding: 21px 15px 40px
}

.shop-product .product-info .pc-title {
    font-size: 14px;
    margin: 0;
    color: #fc2779;
    text-transform: uppercase
}

.shop-product .product-info .product-title {
    margin-bottom: 10px;
    min-height: 38px;
}

.shop-product .product-info .product-title a {
    font-size: 16px;
    font-weight: 700
}

.shop-product .product-info .star-rating {
    margin-bottom: 5px
}

.shop-product .product-info .price {
    font-size: 16px;
    font-weight: 700;
    color: #222
}

.shop-product .product-info .price del {
    font-weight: 400;
    margin-right: 7px;
    color: #999;
    font-size: 15px;
    margin-left: 5px;
    font-style: italic
}

.shop-product .product-info .reviews-icon {
    font-size: 12px;
    margin: 1px;
    color: #999
}

.shop-product .product-info .reviews-icon .i-color {
    color: #fc2779
}

.shop-product .actions {
    left: 0;
    right: 0;
    width: 100%;
    top: initial;
    text-align: center;
    position: absolute;
    margin: 0 auto;
    bottom: 0;
    height: 50px;
    opacity: 0;
    background: #fff;
}
.shop-product:hover .actions{
    opacity: 1;
}
.shop-product .actions .btn-wish {
    border-top: 1px solid #ebebeb;
    color: #fc2779;
    position: absolute;
    left: 0;
    max-width: 25%;
    width: 100%;
    height: 50px;
    bottom: 0;
    float: left;
    margin: 0 !important;;
}
.shop-product .actions .btn-cart {
    border-radius: 2px;
    margin: auto;
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 75%;
    width: 100%;
    display: block;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 100%;
    border-radius: 3px;
    background-color: #fc2779;
    text-align: center;
    letter-spacing: 0.075em;
    color: #FFFFFF;
    outline: none;
    border: none;
    text-transform: uppercase;
    margin: 0 !important;
}
.shop-product .actions .add-to-links a {
    display: inline-block;
    margin-left: 3px;
    opacity: 0;
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
    transform: translateY(-15px);
    -webkit-transition: ease .4s all;
    -moz-transition: ease .4s all;
    transition: ease .4s all
}
.shop-product .actions  .btn-wish i{
    height: 24px;
    display: inline-block;
    position: relative;
    top: 12px;
}

.shop-product .actions .add-to-links .btn-cart:hover{
    background: #fc2779;
    color: #fff
}

.shop-product:hover .add-to-links a {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    -webkit-transition: ease .5s all;
    -moz-transition: ease .5s all;
    transition: ease .5s all
}

.shop-product:hover {
    box-shadow: 0 7px 10px rgba(0, 0, 0, .12)
}

.shop-product:hover .wishlist {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -0-transform: scale(1);
    transform: scale(1)
}

.shop-product:hover .cart-overlay {
    opacity: 1
}
.feature-item-content img{
    background: #f7f7f7;
}
.discount-product-area {
    background: url(../img/bg/dsc-bg.jpg) no-repeat center center;
    background-size: cover;
}

.discount-product-area .discount-text {
    text-align: center;
    padding: 130px 0
}

.discount-product-area .discount-text p {
    font-size: 16px;
    color: #fff;
    text-transform: uppercase
}

.discount-product-area .discount-text h3 {
    font-size: 52px;
    color: #fff;
    margin: 20px 0
}

#content-area {
    background: url(../img/bg/bg1.jpg) no-repeat center center
}

#content-area .landing {
    float: left;
    width: 50%;
    overflow: hidden;
    position: relative
}

#content-area .landing img {
    width: 100%
}

#content-area .caption {
    position: relative;
    top: 40%;
    padding: 90px 0 45px
}

#content-area .caption h2 {
    font-size: 30px;
    color: #333;
    margin-bottom: 20px
}

#content-area .caption p {
    margin-bottom: 30px;
    color: #666
}

#content-area .caption p i {
    color: #fc2779
}

.owl-theme .owl-buttons div {
    width: 40px;
    height: 40px;
    display: block!important;
    background: #fc2779!important;
    text-align: center;
    display: inline-block;
    opacity: 1!important;
    border-radius: 0!important;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .18), 0 2px 5px 0 rgba(0, 0, 0, .15);
    transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out
}

.owl-theme .owl-buttons div i {
    color: #fff;
    font-size: 16px;
    line-height: 32px
}

.touch-slider .owl-controls .owl-buttons div i {
    color: #333;
    display: block
}

.touch-slider .owl-controls .owl-buttons div i:hover {
    color: #fff!important
}

.services-box {
    margin-top: 20px;
    margin-bottom: 20px
}

.services-box .services-icon {
    float: left;
    margin-top: 5px
}

.services-box .services-icon i {
    font-size: 28px;
    text-align: center;
    float: left;
    margin-right: 15px;
    margin-bottom: 40px;
    display: block;
    color: #fc2779
}

.services-box .services-content {
    padding: 0 42px
}

.services-box .services-content h4 {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 700
}

.services-box .services-content p {
    font-size: 13px
}

.testimonial {
    background: #fc2779
}

.testimonial .item {
    margin-right: 20px!important
}

.testimonial .owl-pagination {
    text-align: center;
    width: 100%;
    padding-top: 20px
}

.testimonial-item {
    display: inline-block;
    width: 100%
}

.testimonial-item .author-info {
    width: 280px;
    height: 110px;
    position: relative;
    margin: 30px auto;
    box-shadow: 0 3px 7px rgba(0, 0, 0, .12);
    padding: 15px;
    background: #222
}

.testimonial-item .author-info:before {
    content: "";
    position: absolute;
    bottom: -36px;
    border-width: 18px;
    border-style: solid;
    border-color: #222 transparent transparent transparent
}

.testimonial-item .author-info a {
    width: 80px;
    height: 80px;
    display: inline-block;
    position: relative;
    float: left;
    margin-right: 20px
}

.testimonial-item .author-title h5 {
    font-weight: 700;
    color: #fff;
    line-height: 40px;
    font-size: 20px
}

.testimonial-item .author-title span {
    color: rgba(238, 238, 238, .5)
}

.testimonial-item .datils {
    text-align: center
}

.testimonial-item .datils p {
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 30px
}

.owl-theme .owl-controls .owl-page.active span {
    background: 0 0;
    border: 1px solid #fff;
    height: 14px;
    width: 14px
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    background: #fff
}

.owl-theme .owl-controls .owl-page.active span {
    border-color: #fff
}

.team {
    text-align: center
}

.team .team-item {
    text-align: left;
    margin-bottom: 30px
}

.team .team-item figure {
    position: relative;
    overflow: hidden
}

.team .team-item figure figcaption {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(9, 9, 9, .6);
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease
}

.team .team-item figure figcaption .info {
    position: absolute;
    color: #fff;
    float: left;
    bottom: 20px;
    left: 20px;
    margin-left: -80px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease
}

.team .team-item figure figcaption .info h3 {
    font-size: 20px
}

.team .team-item figure figcaption .info p {
    color: #fff
}

.team .team-item figure figcaption .social {
    position: absolute;
    float: right;
    bottom: 22px;
    margin-bottom: -80px;
    right: 20px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease
}

.team .team-item figure figcaption .social a {
    color: #fff;
    font-size: 15px;
    width: 36px;
    height: 36px;
    background: #fc2779;
    display: inline-block;
    text-align: center;
    line-height: 36px;
    border-radius: 2px
}

.team .team-item figure figcaption .social a.twitter:hover {
    background: #00aced
}

.team .team-item figure figcaption .social a.facebook:hover {
    background: #3b5998
}

.team .team-item figure figcaption .social a.google-plus:hover {
    background: #dd4b39
}

.team .team-item figure:hover figcaption {
    opacity: 1
}

.team .team-item figure:hover figcaption .info {
    margin-left: 0
}

.team .team-item figure:hover figcaption .social {
    margin-bottom: 0
}

.latest-blog {
    background: #fff
}

.blog-item {
    margin: 0;
    position: relative
}

.blog-item .blog-img {
    display: block;
    position: relative;
    overflow: hidden
}

.blog-item .blog-img img {
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    transition: all .5s;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1)
}

.blog-item .blog-img .mask {
    width: 100%;
    background-color: #000;
    height: 100%;
    opacity: 0;
    background-color: rgba(9, 9, 9, .6);
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    text-align: center;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    transition: all .5s
}

.blog-img:hover .mask {
    opacity: 1
}

.blog-img:hover img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1)
}

.blog-info {
    padding: 20px 20px 30px;
    border: 1px solid #eee;
    box-shadow: 0 3px 7px rgba(0, 0, 0, .12)
}

.blog-info .post-date {
    position: absolute;
    width: 75px;
    height: 35px;
    background: #fc2779;
    display: inline-block;
    color: #fff;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    left: 30px;
    margin-top: -38px;
    line-height: 30px;
    border: 2px solid #fff
}

.blog-info h3 a {
    font-size: 18px;
    color: #333;
    display: block;
    font-weight: 700;
    padding-bottom: 5px
}

.blog-info p {
    margin-bottom: 30px
}

.blog-info .readmore {
    padding: 6px 9px;
    border: 1px solid #ddd;
    margin-top: 6px
}

.blog-info .readmore:hover {
    border-color: #fc2779
}

.client {
    background: #f5f5f5
}

.client-logo {
    text-align: center
}

.support-inner .support-info {
    padding-left: 70px;
    position: relative;
    border: 1px solid #ddd;
    overflow: hidden
}

.support-inner .support-info .info-title {
    color: #333;
    font-size: 15px;
    font-weight: 400;
    line-height: 70px
}

.support-inner .support-info .info-title i {
    color: #fc2779;
    font-size: 30px;
    left: 10px;
    position: absolute;
    top: 10px;
    width: 48px;
    height: 48px;
    display: block;
    text-align: center;
    line-height: 48px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease
}

.support-inner .support-info:hover i {
    transform: rotate(30deg)
}

.support-inner .support-info:hover i.icon-plane {
    transform: translate(30px, -80px)
}

#content {
    padding: 60px 0
}

.post-title {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 15px
}

.post-title a {
    color: #444
}

.post-title a:hover {
    color: #fc2779
}

.blog-post {
    margin-bottom: 40px
}

.blog-post img {
    max-width: 100%
}

.blog-post .post-thumb {
    position: relative
}

.blog-post .post-thumb .hover-wrap {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    text-align: center;
    height: 100%;
    background: rgba(246, 246, 246, .5);
    opacity: 0;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    transition: all .4s ease
}

.blog-post .post-thumb:hover .hover-wrap {
    opacity: 1
}

.blog-post .post-content {
    width: 100%;
    padding: 30px 0;
    border-bottom: 1px solid #e1e1e1
}

.blog-post .post-content p {
    margin-bottom: 15px
}

.blog-post .readmore {
    color: #999;
    text-decoration: underline
}

.blog-post .readmore:hover {
    color: #fc2779
}

.quote-post .quote-wrap {
    text-align: center;
    padding: 50px 0;
    font-size: 25px;
    font-style: italic;
    font-weight: 400;
    background: #f7f7f7
}

.quote-post .quote-wrap blockquote {
    border-left: none;
    font-size: 25px;
    line-height: 30px
}

.audio-post iframe {
    width: 100%;
    height: 115px;
    border: none
}

.video-post .video-wrapper {
    width: 100%;
    position: relative;
    padding: 0
}

.video-post .video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: none
}

.meta {
    font-size: 14px;
    margin-bottom: 18px
}

.meta i {
    margin-right: 5px
}

.meta .meta-part {
    display: inline-block;
    margin-right: 15px
}

.meta .meta-part a {
    color: #999
}

.meta .meta-part a:hover {
    color: #fc2779
}

.meta .meta-part a i {
    color: #fc2779
}

.pagination {
    width: 100%;
    padding: 0 15px;
    margin: 0
}

.pagination .results-navigation {
    line-height: 34px
}

.pagination .navigation span,
.pagination .navigation a {
    display: inline-block;
    text-align: center;
    height: 34px;
    width: 34px;
    color: #666;
    line-height: 33px;
    border: 1px solid #eee;
    border-radius: 2px;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out
}

.pagination .navigation a:hover,
.pagination .navigation .current {
    background: #fc2779;
    border-color: #fc2779;
    color: #fff
}

.pagination .navigation .all-pages,
.pagination .navigation .next-page {
    width: auto;
    padding: 0 14px
}

.divider {
    display: inline-block;
    font-size: 18px;
    color: #666;
    line-height: 18px;
    vertical-align: bottom;
    margin-left: 4px;
    margin-right: 4px
}

.right-sidebar {
    padding-left: 20px
}

.search {
    width: 100%;
    margin-bottom: 0!important;
    position: relative
}

.search-btn {
    position: absolute;
    top: 12px;
    right: 30px;
    border: none;
    background: 0 0
}

.search-btn i {
    color: #999
}

#sidebar {
    margin-bottom: 30px
}

#sidebar .w-title {
    font-size: 20px;
    color: #333;
    text-transform: uppercase;
    margin: 10px 0;
    padding-bottom: 20px
}

#sidebar .widget {
    border: 1px solid #ebebeb;
    background: #fbfbfb;
    padding: 20px 28px;
    margin-bottom: 30px
}

#sidebar .cat-list li {
    padding: 10px 0;
    border-bottom: 1px solid #ebebeb
}

#sidebar .cat-list li a {
    text-decoration: none;
    color: #666;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out
}

#sidebar .cat-list li a i {
    margin-right: 5px
}

#sidebar .cat-list li a:hover {
    color: #fc2779
}

#sidebar .cat-list li .num-posts {
    font-size: 13px;
    float: right
}

#sidebar .cat-list li:last-child {
    border: none
}

#sidebar .posts-list li {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e1e1e1
}

#sidebar .posts-list li:last-child {
    margin: 0;
    padding: 0;
    border: none
}

#sidebar .posts-list .widget-thumb {
    float: left
}

#sidebar .posts-list .widget-thumb a {
    display: block
}

#sidebar .posts-list .widget-thumb a img {
    width: 110px;
    border: 1px solid #ccc;
    margin: 5px 15px 0 0;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out
}

#sidebar .posts-list .widget-thumb:hover img {
    border-color: #fc2779
}

#sidebar .posts-list .widget-content {
    padding: 8px
}

#sidebar .posts-list .widget-content a {
    font-weight: 700;
    color: #333;
    font-size: 16px;
    line-height: 16px
}

#sidebar .posts-list .widget-content a:hover {
    color: #fc2779
}

#sidebar .posts-list .widget-content span {
    color: #999;
    font-size: 14px;
    display: block;
    margin: 3px 0
}

#sidebar .posts-list .widget-content span i {
    padding-right: 5px;
    color: #fc2779
}

#sidebar .add {
    margin-top: 10px;
    margin-bottom: 30px
}

#sidebar .add img {
    width: 100%
}

#sidebar .tag a {
    display: inline-block;
    font-size: 14px;
    color: #333;
    background: #e1e1e1;
    padding: 7px 18px;
    margin: 7px 4px;
    border-radius: 2px;
    transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out
}

#sidebar .tag a:hover {
    color: #fff;
    background: #fc2779
}

#sidebar .about-widget-content {
    margin-top: 30px
}

#sidebar .about-widget-content h5 {
    font-size: 15px;
    margin-bottom: 15px
}

#sidebar .about-widget-content p {
    margin-bottom: 10px
}

.single-gallery .post-content {
    padding: 30px 0
}

.single-gallery p {
    margin-bottom: 20px!important
}

.share {
    display: inline-block;
    width: 100%;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
    padding: 10px;
    margin-top: 30px
}

.post-tags-list {
    margin-top: 3px
}

.post-tags-list span {
    font-weight: 700;
    color: #333
}

.post-tags-list a {
    font-size: 14px;
    font-style: italic;
    padding: 7px
}

blockquote {
    border-left: 3px solid #fc2779;
    background: #f8f8f8;
    padding: 15px 20px;
    margin: 30px 0
}

blockquote i {
    float: left;
    padding: 18px;
    font-size: 30px;
    color: #fc2779
}

blockquote .quote-text {
    font-size: 15px;
    font-style: italic;
    color: #666
}

.comments-title {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 22px;
    margin-bottom: 20px
}

#comments .comments-list {
    padding: 0;
    margin: 0 0 35px;
    border-bottom: 1px solid #ebebeb
}

#comments .comments-list .media {
    padding: 22px 0
}

#comments .comments-list .media .media-left {
    padding-right: 20px;
    float: left
}

#comments .comments-list .media .media-left img {
    border-radius: 50%
}

#comments .comments-list .media .media-body {
    background: #f6f6f6;
    padding: 20px
}

#comments .comments-list .media .media-body .media-heading {
    text-transform: uppercase;
    font-size: 15px
}

#comments .comments-list .media .media-body .meta {
    margin-bottom: 10px
}

#comments .comments-list .media .media-body .comment-date {
    font-weight: 600;
    font-size: 12px
}

#comments .comments-list li ul {
    padding-left: 85px
}

.reply-link {
    color: #fc2779;
    display: inline-block;
    font-size: 14px;
    margin: 10px 3px 0 0;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    transition: all .4s ease
}

.respond-title {
    font-size: 18px;
    font-weight: 700;
    padding: 15px 0;
    margin-bottom: 15px;
    text-transform: uppercase
}

.social-link a {
    background: #ddd;
    width: 32px;
    height: 32px;
    display: inline-block;
    text-align: center;
    line-height: 32px
}

.main-desc {
    margin-bottom: 30px
}

.main-desc p {
    font-size: 26px;
    font-weight: 400;
    line-height: 36px
}

footer {
    width: 100%;
    background: #181818
}

footer .contact-list li {
    margin-bottom: 12px;
    color: #999
}

footer .contact-list li i {
    width: 34px;
    background: #fc2779;
    height: 34px;
    border: 1px solid #fc2779;
    border-radius: 100%;
    line-height: 30px;
    float: left;
    color: #fff;
    text-align: center;
    font-size: 13px;
    top: 4px;
    margin-right: 10px
}

footer ul li {
    padding: 5px 0
}

footer ul li a {
    color: #999
}

footer ul li a:hover {
    color: #fc2779
}

footer .tagcloud a {
    padding: 5px 10px;
    border: 1px solid #484848;
    display: inline-block;
    color: #999;
    border-radius: 2px;
    margin: 0 2px 5px 0;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    transition: all .5s
}

footer .tagcloud a:hover {
    border: 1px solid #fc2779;
    color: #fc2779
}

footer .block-subscribe p {
    color: #999;
    margin-bottom: 15px
}

footer .block-subscribe .form-control {
    margin-bottom: 10px;
    padding: 8px
}

.widget-title {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px
}

#copyright {
    background: #444;
    padding: 20px 0
}

#copyright p {
    color: #fff;
    line-height: 32px
}

#copyright p a {
    color: #fff
}

#copyright p a:hover {
    color: #fc2779
}

.about {
    margin-bottom: 50px
}

.about .about-content h3 {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 10px
}

.about .about-content p {
    font-size: 14px;
    text-align: justify
}

.about .about-content .btn-more {
    text-transform: uppercase;
    margin-top: 26px
}

.about-details {
    margin-bottom: 40px
}

.about-details h1 {
    font-size: 30px;
    margin-bottom: 30px;
    text-transform: uppercase
}

.about-details .description {
    font-size: 14px;
    margin-bottom: 30px
}

#error-404 {
    background: #ecf0f1;
    padding: 150px 0
}

#error-404 h1 {
    font-size: 192px;
    display: inline-block;
    color: #fc2779;
    margin-top: 48px
}

#error-404 .page-title {
    color: #0c0c0c;
    font-size: 36px;
    margin-top: 50px;
    margin-bottom: 20px
}

#error-404 p {
    color: #999
}

#error-404 p a {
    color: #0c0c0c
}

#error-404 p a:hover {
    color: #fc2779
}

.title-checkout {
    font-size: 26px;
    margin-bottom: 30px
}

.title-checkout i {
    color: #fc2779;
    margin-right: 10px
}

.table-review-order {
    border-width: 1px 1px 0;
    border-color: #e8e8e8;
    border-style: solid;
    border-radius: 2px
}

.table-review-order tr {
    border-bottom: 1px solid #e8e8e8
}

.table-review-order td,
.table-review-order th {
    padding: 20px 15px 15px!important;
    background: #fff
}

.table-review-order th {
    text-transform: uppercase;
    color: #2d2d2d
}

.table-review-order .price {
    padding: 5px 0;
    font-size: 15px;
    color: #2d2d2d;
    font-weight: 700
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    vertical-align: middle
}

.card--padding {
    padding: 25px 30px 30px
}

.table-total-checkout {
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 30px
}

.table-total-checkout tbody {
    width: 100%;
    line-height: 1em;
    font-size: 26px;
    font-weight: 500
}

.table-total-checkout tbody tr td {
    text-align: right;
    font-size: 30px
}

.entry-heading h3 {
    font-size: 26px;
    margin-bottom: 30px;
    text-transform: uppercase
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border: 1px solid #ddd
}

.table>tbody>tr>td {
    border-right: 1px solid #ddd
}

.table>tbody>tr>td.compare-lable {
    width: 150px;
    vertical-align: middle;
    background: #fafafa
}

.card {
    border: 1px solid #e8e8e8;
    background: #f5f5f5
}

.card .btn-full {
    width: 100%;
    font-size: 18px;
    padding: 18px 30px;
    display: block
}

.head-faq {
    margin-bottom: 50px
}

.head-faq h2 {
    font-size: 24px;
    text-transform: uppercase
}

.panel-group .panel {
    margin-bottom: 24px
}

.panel-default {
    border-radius: 0;
    border: none
}

.panel-default .panel-heading {
    padding: 0;
    outline: none;
    border: none;
    border-radius: 0;
    background: 0 0;
    border: 1px solid #ccc;
    width: 100%
}

.panel-default .panel-heading .panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit
}

.panel-default .panel-heading a {
    font-size: 16px;
    font-weight: 700;
    padding: 12px 35px 12px 0;
    display: inline-block;
    width: 100%;
    background-color: #fc2779;
    color: #fff;
    position: relative;
    text-decoration: none
}

.panel-default .panel-heading a .num {
    padding: 13px 20px;
    margin-right: 10px;
    color: #fff;
    border-right: 1px solid #e3e3e3
}
.panel-default .panel-collapse .panel-body {
    padding: 15px 64px;
    background-color: #fff;
    border-top: none;
    border: 1px solid #e3e3e3
}

.questions-box {
    margin-top: 50px;
    padding: 50px;
    border: 1px solid #ccc
}

.questions-box h1 {
    font-size: 30px;
    letter-spacing: 1px;
    padding-bottom: 30px
}

.questions-box .btn {
    padding: 8px 32px
}

.wishlist {
    background: #333;
    width: 100%;
    min-height: 42px;
    margin-top: 30px;
    text-align: center
}

.wishlist p {
    color: #fff;
    line-height: 42px
}

.wishlist-box {
    margin: 0;
    padding: 0
}

.wishlist-entry {
    padding: 30px 0;
    border-bottom: 1px solid #e3e3e3
}

.wishlist-entry .cart-entry .image {
    width: 90px;
    float: left
}

.wishlist-entry .cart-entry .cart-content {
    margin-left: 90px;
    padding: 0 24px
}

.wishlist-entry .cart-entry .cart-content .title {
    font-size: 18px;
    line-height: 28px;
    color: #333;
    font-weight: 700;
    display: block;
    margin-bottom: 10px
}

.wishlist-entry .entry {
    line-height: 125px;
    text-align: center
}

.wishlist-entry .price {
    font-size: 16px;
    color: #797979;
    font-weight: 700
}

.wishlist-entry .price del {
    font-size: 15px;
    font-weight: 400
}

.wishlist-entry .instock {
    color: #87ae10;
    font-size: 18px;
    font-weight: 700
}

.wishlist-entry .stock {
    color: #f24c4c;
    font-size: 18px;
    font-weight: 700
}

.wishlist-entry .btn {
    padding: 8px 24px
}

.quantity-selector {
    margin-top: 42px
}

.quantity-selector .entry {
    border: 1px solid #d1d1d1;
    height: 37px;
    line-height: 35px;
    width: 37px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    font-size: 12px;
    color: #4c4c4c;
    text-align: center;
    -moz-user-select: none
}

.quantity-selector .number-minus,
.quantity-selector .number-plus {
    text-indent: 99999px
}

.quantity-selector .number-minus:before,
.quantity-selector .number-plus:before {
    content: "";
    width: 11px;
    height: 1px;
    background: #333;
    left: 50%;
    margin-left: -5.5px;
    top: 50%;
    margin-top: -.5px;
    position: absolute
}

.quantity-selector .number-minus:hover,
.quantity-selector .number-plus:hover {
    background: #fc2779;
    border-color: #fc2779
}

.quantity-selector .number-plus:after {
    content: "";
    height: 11px;
    width: 1px;
    background: #333;
    left: 50%;
    margin-left: -.5px;
    top: 50%;
    margin-top: -5.5px;
    position: absolute
}

.slick-slide {
    opacity: .3
}

.slick-track li.slick-current {
    opacity: 1;
    outline: none
}

.tooltip-inner {
    font-size: 12px;
    border-radius: 2px;
    padding: 7px 10px;
    background: rgba(0, 0, 0, .5)
}

.product-option {
    background: #f6f6f6;
    height: 50px;
    line-height: 50px;
    padding: 0 30px
}

.floatleft {
    float: left
}

.option-btn {
    margin-right: 20px;
    padding: 0;
    color: #999
}

.dropdown-width {
    width: 290px;
    border-radius: 0
}

.widget-categories {
    background: #fff;
    width: 100%
}

.widget-info.product-cat {
    background: #fff none repeat scroll 0 0;
    height: 290px;
    padding: 15px 20px 20px 10px
}

.product-cat .treeview {
    padding-left: 20px
}

.product-cat .treeview li span {
    color: #666;
    display: block;
    font-size: 14px;
    line-height: 25px;
    text-transform: capitalize;
    cursor: pointer;
    transition: all .3s ease 0s
}

.product-cat .treeview li>ul>li>a {
    color: #999;
    display: block;
    font-size: 13px;
    line-height: 25px;
    text-transform: capitalize
}

button {
    border: none;
    background: 0 0;
    transition: all .3s ease 0s
}

button:hover {
    color: #fc2779
}

.info-panel {
    padding-left: 30px
}

.info-panel .product-title {
    display: block;
    font-size: 40px;
    margin-bottom: 27px;
    text-transform: capitalize;
    line-height: 1
}

.info-panel .price-ratting {
    float: left;
    margin-bottom: 20px;
    width: 100%
}

.info-panel .price-ratting .price {
    color: #7a7a7a;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    float: left
}

.info-panel .price-ratting .ratting {
    float: right
}

.info-panel .price-ratting .active {
    color: #fc2779
}

.info-panel .short-desc {
    margin-bottom: 20px
}

.info-panel .sub-title {
    display: block;
    font-size: 16px;
    line-height: 12px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    position: relative
}

.info-panel .sub-title:before {
    background-color: #fc2779;
    bottom: 0;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    width: 30px
}

.info-panel .product-size {
    width: 100%;
    display: inline-block;
    margin-bottom: 25px
}

.info-panel .product-size span.active {
    background: #333!important;
    color: #fff
}

.info-panel .product-size span {
    padding: 6px 12px;
    border-radius: 2px;
    float: left;
    background: #efefef;
    text-align: center;
    margin-right: 15px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer
}

.info-panel .color-list {
    margin-bottom: 25px;
    display: inline-block;
    clear: both
}

.info-panel .color-list button {
    border: none;
    border-radius: 2px;
    display: block;
    float: left;
    height: 40px;
    margin-top: 5px;
    margin-right: 12px;
    padding: 0;
    width: 42px;
    color: #fff
}

.info-panel .color-list button i {
    color: #fff;
    display: block;
    font-size: 10px;
    line-height: 22px;
    opacity: 0
}

.info-panel .color-list button.active i {
    opacity: 1
}

.info-panel .quantity-cart {
    margin-bottom: 25px
}

.info-panel .quantity-cart .add-to-cart {
    background-color: #fc2779;
    color: #fff;
    display: block;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 400;
    height: 40px;
    letter-spacing: .5px;
    line-height: 24px;
    margin-bottom: 10px;
    padding: 6px 40px;
    text-align: center;
    text-transform: uppercase;
    transition: all .3s ease 0s;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s
}

.info-panel .usefull-link {
    margin-bottom: 0;
    display: inline-block
}

.info-panel .usefull-link li {
    display: block;
    float: left;
    margin-bottom: 10px;
    margin-right: 20px
}

.info-panel .usefull-link li a {
    color: #666;
    display: block;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase
}

.info-panel .usefull-link li a i {
    margin-right: 5px
}

.info-panel .share-icons {
    clear: both;
    display: block;
    overflow: hidden
}

.info-panel .share-icons span {
    color: #666;
    float: left;
    font-size: 14px;
    line-height: 26px;
    margin-right: 10px;
    text-transform: uppercase
}

.info-panel .share-icons a {
    color: #999;
    display: block;
    float: left;
    margin-right: 10px;
    width: 28px;
    height: 28px;
    background: #ddd;
    text-align: center;
    line-height: 28px;
    border-radius: 2px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease
}

.info-panel .share-icons a:hover .fa-facebook {
    color: #507cbe
}

.info-panel .share-icons a:hover .fa-twitter {
    color: #63cdf1
}

.info-panel .share-icons a:hover .fa-instagram {
    color: #fb3958
}

.info-panel .share-icons a:hover .fa-pinterest {
    color: #c8232c
}

.md-content>.md-close:hover {
    color: #fc2779
}

.margin-bottom-10 {
    margin-bottom: 10px
}

.btn-addtocart {
    background: #222;
    color: #fff;
    border-radius: 0;
    padding: 13px 0 12px 20px;
    text-transform: uppercase
}

.btn-addtocart:hover {
    color: #fc2779
}

.btn-addtocart span {
    padding: 13px 20px;
    margin-left: 35px;
    border-left: 1px solid #8e8e8e
}

.product-details--wishlist button {
    border: none;
    background: 0 0;
    padding: 0
}

.addtowishlist {
    text-transform: uppercase;
    font-family: loveloblack;
    font-weight: 500;
    color: #777
}

.addtowishlist:hover {
    color: #fc2779
}

.listcartproducts {
    position: relative
}

.listcartproducts .title-cart {
    display: block;
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 30px;
    text-transform: uppercase;
    width: 100%;
    color: #333;
    position: relative;
    padding-bottom: 30px
}

.listcartproducts .title-cart:before {
    content: '';
    border-bottom: 1px solid #ccc;
    width: 70px;
    position: absolute;
    left: 0;
    bottom: 0
}

.listcartproducts .products-item {
    margin-bottom: 15px;
    overflow: hidden;
    padding-bottom: 15px
}

.listcartproducts .products-item .left {
    float: left;
    margin-right: 30px;
    width: 115px;
    position: relative
}

.listcartproducts .products-item .left .quick-view {
    background: #fff;
    border-radius: 50%;
    display: block;
    font-size: 14px;
    height: 30px;
    left: 0;
    line-height: 30px;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 40%;
    width: 30px;
    opacity: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s
}

.listcartproducts .products-item .reviews-icon {
    font-size: 12px;
    margin: 1px;
    color: #999
}

.listcartproducts .products-item .reviews-icon .i-color {
    color: #fc2779
}

.listcartproducts .products-item .right {
    overflow: hidden
}

.listcartproducts .products-item .right .product-name {
    font-size: 14px;
    margin-bottom: 5px
}

.listcartproducts .products-item .right .comments-note {
    margin-bottom: 10px
}

.listcartproducts .products-item .right .price {
    margin-bottom: 10px;
    font-size: 16px
}

.listcartproducts .products-item .right .price .old-price {
    font-size: 13px;
    color: #6f6f6f;
    text-decoration: line-through
}

.listcartproducts .products-item:hover .quick-view {
    opacity: 1
}

.single-pro-tab {
    background: #f6f6f6
}

.pro-tab-info {
    background: #fff;
    padding: 40px 30px;
    border: 1px solid #eee
}

.pro-tab-info .small-title {
    font-size: 20px;
    text-transform: uppercase;
    padding: 0;
    margin-bottom: 20px
}

.single-pro-tab-menu ul li {
    margin-bottom: 25px;
    display: inline-block
}

.single-pro-tab-menu ul li a {
    color: #666;
    display: block;
    font-size: 16px;
    font-weight: 700;
    height: 45px;
    line-height: 45px;
    padding: 0 30px;
    text-decoration: none
}

.single-pro-tab-menu ul li.active a {
    background: #fc2779;
    color: #fff
}

.tab-title {
    font-size: 18px;
    font-weight: 500;
    font-family: loveloblack;
    padding-bottom: 10px;
    text-transform: uppercase
}

.customer-review {
    margin-bottom: 30px
}

.product-comments li {
    float: left
}

.pro-reviewer {
    float: left;
    width: 90px
}

.comment-reply a {
    background: #f6f6f6;
    color: #999;
    display: inline-block;
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    margin-left: 2px;
    text-align: center;
    width: 50px
}

.comment-reply a:hover {
    background: #fc2779;
    color: #fff
}
.product-details-image{
position: relative;
}

.reply-date {
    color: #999;
    margin-bottom: 10px
}

.tab-title.title-border::before {
    height: 3px
}

.threaded-comments {
    padding-left: 20px
}

.your-rating span a {
    color: #434343;
    font-size: 16px
}

.separator {
    color: #ccc;
    margin: 0 15px
}

.fix {
    overflow: hidden
}

.mb-30 {
    margin-bottom: 30px
}

.shop-pagination {
    margin-top: 20px
}

.md-30 {
    margin-bottom: 30px
}

.widget-ct {
    box-shadow: 0 3px 7px rgba(0, 0, 0, .12)
}

.widget-search {
    position: relative
}

.widget-search input {
    background: #fff;
    height: 50px;
    margin-bottom: 0;
    padding: 0 35px 0 20px
}

.widget-search input[type=text] {
    background: #f6f6f6;
    border: none;
    box-shadow: none;
    border-radius: 0;
    color: #999;
    height: 50px;
    margin-bottom: 15px;
    padding: 0 20px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
    width: 100%;
    outline: none
}

.widget-search button {
    color: #999;
    font-size: 18px;
    position: absolute;
    right: 4px;
    padding: 12px 15px;
    top: 0
}

.widget-categories {
    box-shadow: 0 3px 7px rgba(0, 0, 0, .12)
}

.widget-s-title h4 {
    border-bottom: 2px solid #f6f6f6;
    color: #666;
    font-size: 16px;
    font-weight: 700;
    height: 50px;
    line-height: 50px;
    margin-bottom: 0;
    padding: 0 30px;
    text-transform: uppercase
}

.product-cat {
    background: #fff;
    padding: 15px 20px 20px 30px
}

.product-cat li a {
    color: #666;
    display: block;
    font-size: 13px;
    line-height: 36px;
    cursor: pointer;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease
}

.product-cat li a:hover {
    color: #fc2779
}

.product-cat li:last-child {
    border: none
}

.product-cat li span {
    float: right;
    font-size: 12px;
    color: #999
}

.product-cat li span:hover {
    color: #fc2779
}

.product-cat .panel {
    margin: 0;
    box-shadow: none
}

.product-cat .listSidebar {
    padding: 0 15px
}

.product-cat .listSidebar li {
    border-top: 1px dashed #efefef!important
}

.product-cat .pr-all {
    color: #fc2779
}

.widget-info {
    padding: 20px 30px
}

.color-filter ul li {
    color: #666;
    float: left;
    font-size: 14px;
    line-height: 28px;
    width: 100%
}

.color-filter ul li a {
    color: #666
}

.color-filter ul li a:hover {
    color: #fc2779
}

.color-filter ul li span.count {
    float: right;
    color: #999
}

.color-filter ul li span.count:hover {
    color: #fc2779
}

span.color {
    background: #ddd;
    display: inline-block;
    height: 13px;
    margin-right: 20px;
    width: 13px
}

span.color.color-1 {
    background: #ffa07a
}

span.color.color-2 {
    background: #e9967a
}

span.color.color-3 {
    background: #fe5858
}

span.color.color-4 {
    background: #00b2ee
}

span.color.color-5 {
    background: #00eeb3
}

span.color.color-6 {
    background: #8dc63f
}

span.color.color-7 {
    background: #c38b4b
}

.color-filter ul li.active a,
.color-filter ul li.active span.count {
    color: #fc2779
}

.color-filter ul li.active span.color,
.color-filter ul li:hover span.color {
    outline: 1px solid #d6b98c;
    outline-offset: 1px
}

.filter-price .irs-bar {
    background: #fc2779
}

.filter-price .irs-slider {
    background: #fc2779
}

.filter-price .filter-btn {
    margin-top: 30px
}

.filter-price .filter-btn .btn-common {
    padding: 7px 27px
}

.size-filter li {
    float: left;
    margin: 5px 5px 0 0
}

.size-filter li a {
    background: #f6f6f6;
    display: block;
    color: #666;
    font-weight: 700;
    height: 34px;
    line-height: 34px;
    text-align: center;
    width: 34px
}

.size-filter ul li.active a,
.size-filter ul li a:hover {
    background: #fc2779;
    color: #fff
}

.widget-banner .widget-info {
    padding: 15px
}

.widget-banner .widget-info img {
    width: 100%
}

.clearfix {
    clear: both
}

.shop-content {
    display: inline-block
}

.shop-tab>li {
    float: left;
    margin-right: 20px
}

.shop-tab>li a {
    color: #666;
    display: block;
    font-size: 20px
}

.shop-tab li.active a {
    color: #fc2779
}

.showing {
    margin-top: 12px
}

.shop-list .product-box {
    float: left;
    width: 29.333%
}

.shop-list .product-info {
    float: left;
    text-align: left;
    padding: 15px 15px 15px 30px;
    width: 69.667%
}

.shop-list .product-info .product-title a {
    font-size: 22px
}

.shop-list .product-info .price {
    margin-top: 20px
}

.mb-10 {
    margin-bottom: 10px
}

.mb-20 {
    margin-bottom: 20px
}

.mb-50 {
    margin-bottom: 50px
}

.product-filter {
    height: 40px
}

.product-filter .grid-list-count {
    float: left;
    margin-right: 25px
}

.product-filter .grid-list-count a {
    margin-right: 10px
}

.product-filter .result-count {
    margin: 0;
    float: left;
    color: #999
}

.product-filter .sort-by {
    float: right
}

.product-filter .sort-by span {
    color: #999;
    display: inline-block;
    line-height: 20px;
    margin-right: 5px
}

.product-filter .sort-by .woocommerce-ordering {
    float: right
}

.product-filter .sort-by .woocommerce-ordering .orderby {
    border: none
}

.product-filter .button,
.product-filter select {
    font-size: 14px;
    font-weight: 400;
    color: #333
}

.touch-slider .owl-controls .owl-buttons div {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 45px;
    line-height: 45px;
    padding: 0!important;
    display: inline-block;
    background: #fff!important;
    color: #333!important;
    border-radius: 2px!important;
    opacity: 1!important;
    margin-top: -20px!important;
    transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out
}

.touch-slider .owl-controls .owl-buttons div:hover {
    background: #fc2779!important;
    color: #fff!important
}

.touch-slider:hover .owl-controls .owl-buttons div {
    filter: alpha(opacity=100);
    opacity: 1
}

.touch-slider .owl-controls .owl-buttons div.owl-prev {
    left: 0
}

.touch-slider .owl-controls .owl-buttons div.owl-next {
    right: 0
}

.touch-slider .owl-controls .owl-buttons div i {
    font-size: 22px;
    line-height: 45px
}

.touch-carousel .owl-controls .owl-buttons {
    position: absolute;
    top: -38px;
    right: 15px
}

.touch-carousel.projects-carousel .owl-controls .owl-buttons {
    right: 12px
}

.projects-carousel .owl-controls .owl-buttons {
    right: 9px
}

.form-control {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    color: #2d2d2d;
    display: block;
    height: 48px;
    box-shadow: none;
    width: 100%
}

.form-control:focus,
textarea:focus {
    box-shadow: none;
    border: 1px solid #fc2779;
    outline: none
}

.contact-info {
    margin-bottom: 42px
}

.contact-info .header-wrap {
    margin: 40px 0
}

.contact-info .header-wrap h3 {
    font-size: 40px
}

.contact-info .contact-item-wrapper {
    padding: 0 42px
}

.contact-info .contact-item-wrapper h4 {
    font-size: 22px;
    font-weight: 400;
    color: #0c0c0c;
    margin-bottom: 20px
}

.contact-info .contact-item-wrapper .info .icon {
    float: left;
    width: 42px;
    font-size: 30px;
    height: 42px;
    line-height: 48px;
    color: #fc2779
}

.contact-form .btn-common {
    margin-top: 30px
}

.login-form-container {
    background: #f9f9f9;
    border: 1px solid #eee;
    padding: 37px 40px;
    text-align: left
}

.login-form-container .login-text {
    text-align: center;
    margin-bottom: 30px
}

.login-form-container .login-text h3 {
    font-size: 30px;
    margin-bottom: 5px
}

.login-form-container input[type=checkbox] {
    height: 15px;
    margin: 0;
    position: relative;
    top: 1px;
    width: 17px
}

.login-form-container label {
    color: #333;
    font-size: 14px;
    letter-spacing: .3px;
    vertical-align: middle
}

.button-box .login-toggle-btn {
    padding-top: 20px
}

.button-box .login-toggle-btn a {
    float: right;
    -webkit-transition: all .2s ease 0s;
    -moz-transition: all .2s ease 0s;
    transition: all .2s ease 0s
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%
}

.bootstrap-select.btn-group .dropdown-toggle .caret {
    position: relative
}

.bootstrap-select>.dropdown-toggle {
    color: #2d2d2d;
    padding: 16px 20px 15px;
    text-transform: capitalize;
    border: 1px solid rgba(0, 0, 0, .08)
}

.has-error .form-control:focus {
    box-shadow: none
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    opacity: 1
}
.social-icons{

}
footer ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
.footer_social_links li {
    float: left;
    padding: 0px;
    margin: 0px 15px 15px 0px;
}
.footer_social_links.styltwo li a i {
    color: #c5c3c3;
    background: none;
    border: 1px solid #c5c3c3;
}
.footer_social_links li a i {
    width: 35px;
    height: 35px;
    text-align: center;
    border-radius: 100%;
    line-height: 35px;
    vertical-align: middle;
    background: rgba(225,225,225,0.1);
    color: #999;
    transition: all 0.3s ease;
}
.affix .navbar-brand>img {
    display: block;
    width: 203px;
}
.product-details-image .icon-heart{
    margin-bottom: 0;
    font-size: 17px;
    color:rgba(252,39,121,0.92);
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 15px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #f0f0f0;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.1);
    padding: 9px 12px 12px 9px;
    background: #fff;
    z-index: 1;
}
.modal .close{
    position: absolute;
    z-index: 9;
    right: 10px;
    top: 11px;
}
.modal-open,
.modal .modal-body{
padding: 0 !important;
}
.modal .modal-body p.create-user a{
    color: #5ea869;
    font-size: 15px;
}
.total .entry{
    line-height: 1;
}
.btn-section .btn-default{
    padding: 12px 30px;
    position: relative;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.1);
    border: 1px solid #e0e0e0;
    margin-right: 16px;
    background-color: #fff;
    color: #212121;
}
.btn-section{
    padding: 20px 0;
}
.btn-section .btn{
min-width: 250px;
font-weight: bold;
}
.checkout_page .panel-default .panel-heading a{
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}
.checkout_page .panel-default .panel-heading a[aria-expanded="true"]{
    background-color: #fc2779;
    color: #ffffff;
}
.checkout_page .panel-default .panel-heading a:after {
    font-family: fontawesome;
    content: "+";
    position: absolute;
    right: 15px;
    color: #615c5c;
    border: 1px solid #615c5c;
   
    padding: 1px 3px;
    font-size: 13px;
    border-radius: 3px;
}
.checkout_page .panel-default .panel-heading a[aria-expanded="true"]:after{
    content: "-";
    color: #ffffff;
    border: 1px solid #ffffff;
}
.checkout_page .panel-default .panel-heading a{
    padding-left: 15px;
    
}
.checkout_page .panel-default .panel-collapse .panel-body{
    padding: 15px;
   
}
.remove_r{
margin-top: 20px;
}
.checkout_page  .quantity-selector {
    margin-top: 13px;
}




/*paymrny*/
.pay_btn{
margin: 15px 0;
}
.con{
padding-top: 15px;
}
.con span{
    line-height: 3.2;
}


.sap_tabs{
	clear:both;
	padding: 0em 0 0em;
}
.pay-tabs{
    margin: 0 0 2em 0;
    padding: 1em 1em 1.5em 1em;
    background: #fff;
    border: 1px solid #e7ebee;	
}
.pay-tabs h2{
    font-size: 18px;
    text-align: center;
    margin-bottom: 25px;
    color: #505050;
    font-weight: 500;
    font-family: 'Alegreya Sans', sans-serif;
}
.resp-tabs-list {
    list-style: none;
    margin: 0 0 0em 0;
    padding: 0;
}
.resp-tab-item{
    font-size: 14px;
    text-decoration: none;
    color: #000000;
	font-weight:500;
    cursor: pointer;
	text-align: center;
	list-style: none;
	outline: none;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	text-transform:capitalize;
	display: inline-block;
    margin: 0 4% 25px;
    float: left;
    width: 25%;
}
.resp-tab-active{
    color: #fc2779;
}
.resp-tabs-container {
	padding: 0px;
	clear: left;
    padding: 2em 2.5em;
    background: #fff;
    border: 1px solid #e7ebee;	
}
h2.resp-accordion {
	cursor: pointer;
	padding: 5px;
	display: none;
}
.resp-tab-content {
	display: none;
}
.resp-content-active, .resp-accordion-active {
   display: block;
}


li.resp-tab-item span .pic1,li.resp-tab-item span .pic2,li.resp-tab-item span .pic3,li.resp-tab-item span .pic4{
    width: 100%;
    height: 70px;
    display: block;
    border: 1px solid #e7ebee;
    padding: 15px 0px;
    margin-bottom: 15px;
	cursor:pointer;	
}
li.resp-tab-item.resp-tab-active span label {
    border: 1px solid #fc2779;
}
.payment-info h3{
    font-size: 18px;
    text-align: center;
    margin-bottom: 15px;
    color: #505050;
    font-weight: 500;
    font-family: 'Alegreya Sans', sans-serif;
}
.tab-for input[type="text"] {
    width:96%;
    padding: 8px;
    font-size: 13px;
    font-weight: 600;
    border: 1px solid #e7ebee;
    outline: none;
    color: #000000;
    border-radius: 5px;
    margin-bottom: 20px;
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.tab-for h5 ,.tab-form-left h5,.tab-form-right h5{
    color: #435964;
    font-size: 13px;
    text-transform: uppercase;
    margin: 0 0 8px 0;
    font-weight: 600;
}
.tab-for input[type="text"]:hover{
	border: 1px solid #B3E03F;
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
input.pay-logo{
    width: 89.5% !important;
    padding: 8px 45px 8px 8px !important;
    background: url(../images/visa.png) no-repeat 507px 5px;
}
.tab-form-left {
    float: left;
    width: 48%;
}
.user-form ul li {
    list-style-type: none;
    display: inline-block;
    width: 23%;
    margin-right: 9%;
}
.text_box {
    display: inline;
    width: 60px;
    padding: 3px 5px;
    outline: none;
    margin-left: 1%;
    font-size: 20px;
    color: #444;
    width: 100%;
    color: #606060;
    font-size: 15px;
    padding: 8px 0 8px 10px;
    border: none;
    outline: none;
    background: #fff;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
input.text_box {
    background: #fcfcfc;
    border: 1px solid #ebeced;
}
.tab-form-right {
    float: right;
    width: 48%;
}
.tab-form-right input[type="text"] {
    width:92%;
    padding: 8px;
    font-size: 13px;
    font-weight: 600;
    border: 1px solid #e7ebee;
    outline: none;
    color: #ccc;
    border-radius: 5px;
    margin-bottom: 30px;
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.tab-form-right input[type="text"]:hover{
	border: 1px solid #B3E03F;
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.payment-info form input[type="submit"] {
    background: #B3E03F;
    color: #FFFFFF;
    text-align: center;
    padding: 10px 0;
    border: none;
    font-size: 16px;
    outline: none;
    width: 22%;
    cursor: pointer;
    font-weight: 600;
	margin-bottom:30px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.payment-info form input[type="submit"]:hover{
    background: #3AD5A0;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.single-bottom ul li{
	list-style:none;
	padding:0px;
}
.single-bottom ul li input[type="checkbox"] {
  display: none;
}
.single-bottom ul li input[type="checkbox"]+label {
    position: relative;
    padding-left: 31px;
    border: none;
    outline: none;
    font-size: 13px;
    color: #2d3e50;
	font-weight:600;
	line-height:1.8em;
}
.single-bottom ul li input[type="checkbox"]+label span:first-child {
	width: 14px;
    height: 14px;
    display: inline-block;
    border: 2px solid #B3E03F;
    position: absolute;
    left: 0;
    top: 1px;
}
.single-bottom ul li input[type="checkbox"]:checked+label span:first-child:before {
  content: "";
  background:url(../images/11.png)no-repeat;
  position: absolute;
    left: -1px;
    top: 0px;
  font-size: 10px;
  width:16px;
  height:16px;
  }
.radio {
	position: relative;
	display:inline-block;
	margin-left:15px;
}
.radio:first-child {
	margin-left: 0;
	margin: 0;
}
.radio {
	padding-left:22px;
	line-height: 28px;
	color: #404040;
	cursor: pointer;
}
.radio  input[type="radio"]{
	position: absolute;
	left: -9999px;
}
.radio-btns label {
  font-size: 14px;
  color: #000;
  padding: 0px 0 0 10px;
  font-weight:600;
  }
.radio i {
	position: absolute;
	top:5px;
	left: 0;
	display: block;
    width: 12px;
    height: 12px;
	outline: none;
  border:3px solid #fc2779;
  background: #fff;
	cursor:pointer;
}
.radio i {
	border-radius: 50%;
}
.radio input + i:after {
	position: absolute;
	opacity: 0;
	transition: opacity 0.1s;
	-o-transition: opacity 0.1s;
	-ms-transition: opacity 0.1s;
	-moz-transition: opacity 0.1s;
	-webkit-transition: opacity 0.1s;
}
 .radio input + i:after {
	content: '';
	top: 6px;
	left: 7px;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
}
.radio input:checked + i:after{
	opacity: 1;
}

label.checkbox {
	width: 28%;
	floaT: left;
}
/*** normal state ***/
.radio i {
	transition: border-color 0.3s;
	-o-transition: border-color 0.3s;
	-ms-transition: border-color 0.3s;
	-moz-transition: border-color 0.3s;
	-webkit-transition: border-color 0.3s;
}
/*** checked state ***/
.radio input + i:after {
  content: '';
  background: url("../images/tick-mark1.png") no-repeat center;
  top: 1px;
  left: 1px;
  width: 9px;
  height: 9px;
  text-align: center;
}
.radio input:checked + i {
  border:3px solid #B5E045;
  background: #fff;
}
.swit{
	float:left;
	width:50%;
}
.check_box {
    margin-bottom: 5px;
}


.radio-btns{
    margin-bottom: 30px;
}
.login-tab{
    margin-top: 15px;
}
.user-login h2 {
  margin: 0 0 18px 0;
  color: #424448;
  font-size: 24px;
  text-align: center;
  font-weight: bold;
}
.graph-header h3{
  margin: 0 0 18px 0;
  color: #424448;
  font-size: 24px;
  text-align: center;
  font-weight: bold;
}
.graph-grid{
  background: #fff;
  padding: 42px 20px;
  margin:15px 0;
}
.con-btm-l{
float:left;
width:46%;
}
.con-btm-r{
  float: left;
  width: 51.5%;
  margin-left: 2.5%;
}
.con-btm-right {
  padding-right: 0;
}
.user-login form input[type="text"], .user-login form input[type="password"] {
  margin: 0 0 24px 0;
  background: #fcfcfc;
    width: 94%;
  padding: 12px 15px;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid #ebeced;
  outline: none;
  color: #D7D7D7;
}
.user-login form{
    margin-top: 22px;
}
.user-left i {
  font-style: normal;
  vertical-align: text-bottom;
  font-size: 14px;
  font-weight: bold;
  margin-left: 5px;
}
.user-left {
  width: 61%;
  float: left;
}
.user-right  {
  width: 21%;
  float: right;
}
.user-right input[type="submit"] {
   background: #ed5564;
   font-weight: bold;
   font-size: 16px;
   color: #ffffff;
   padding: 10px 25px;
   border: none;
    width: 100% !important;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.user-right input[type="submit"]:hover {
background:#28b08a;
transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.payment-info h4 {
    font-size: 14px;
    text-align: center;
    color: #000;
}
/*-- responsive media queries --*/
@media (max-width: 1440px){
	li.resp-tab-item span .pic3 {
		background: url(../assets/img/atm.png) no-repeat 8px 15px #fafafa !important;
	}
	li.resp-tab-item span .pic1 {
		background: url(../img/atm.png) no-repeat center #fafafa !important;
	}
	li.resp-tab-item span .pic4 {
        background-image:  url(../img/phonepe.jpg);
        background-repeat: no-repeat ;
        background-size: 40px;
        background-position: center;
        background-color: #fafafa;
	}
	li.resp-tab-item span .pic2 {
        background-image:  url(../img/cashon_delivery.png);
        background-repeat: no-repeat ;
        background-size: 40px;
        background-position: center;
        background-color: #fafafa;
	}	
}
@media (max-width: 1366px){
	.content {
		width: 41.5%;
		margin: 0 auto;
	}	
	input.pay-logo {
		width: 88.5% !important;
	}
}
@media (max-width: 1280px){
	.resp-tab-item {
		margin: 0 3%;
		width: 19%;
	}
	input.pay-logo {
		width: 87% !important;
	}	
	.single-bottom ul li input[type="checkbox"]+label {
		padding-left: 24px;
	}
}
@media (max-width: 1080px){
	.content {
		width: 48.5%;
		margin: 0 auto;
	}
	.tab-form-right input[type="text"] {
		width: 91%;
	}
	.user-form ul li {
		width: 26%;
	}	
}
@media (max-width: 1024px){
	.content {
		width: 49.5%;
		margin: 0 auto;
	}	
	.swit {
		float: left;
		width: 44%;
		margin-right: 6%;
	}
}
@media (max-width: 991px){
	.pay-tabs h2 ,.payment-info h3{
		font-size: 22px;
	}
	.resp-tab-item {
		margin: 0 2%;
		width: 21%;
	}	
	.user-form ul li {
		width: 29%;
	}
	.swit {
		margin-right: 12%;
	}
	.swit:nth-child(2) {
		margin: 0;
	}
}
@media (max-width: 800px){
	.content {
		width: 60%;
		margin: 0 auto;
	}
	input.pay-logo {
		width: 85% !important;
	}
	.tab-for input[type="text"] {
		width: 95%;
	}
	.tab-form-right input[type="text"] {
		width: 90%;
	}
	.radio-btns label {
		font-size: 13px;
		color: #000;
		padding: 0px 0 0 2px;
		font-weight: 600;
	}
	.radio i {
		top: 6px;
	}	
	.user-login form input[type="text"], .user-login form input[type="password"] {
		width: 92%;
	}
	.resp-tab-item {
		font-size: 13px;
	}
	.payment-info form input[type="submit"] {
		font-size: 14px;
	}
	.payment-info h4 {
		font-size: 13px;
	}
	.main h1 {
		font-size: 30px;
	}
}
@media (max-width: 768px){
	.content {
    width: 61%;
	}
}
@media (max-width: 736px){
	.content {
		width: 64%;
	}	
}
@media (max-width: 667px){
	.content {
		width: 71.5%;
	}	
}
@media (max-width: 640px){
	.content {
		width: 74.5%;
	}
	.tab-form-right input[type="text"] {
		width: 89%;
	}
	p.footer {
		font-size: 13px;
	}
}
@media (max-width: 600px){
	.content {
		width: 79.5%;
	}	
}
@media (max-width: 568px){
	.content {
		width: 83.5%;
	}	
}
@media (max-width: 480px){
	.content {
		width: 92%;
	}

	.user-form ul li {
		width: 34%;
	}
	.tab-form-right {
		float: right;
		width: 45%;
	}
	p.footer {
		font-size: 13px;
		line-height: 1.8em;
		width: 92%;
		margin: 30px auto 0 auto;
	}
	.resp-tabs-container {
		padding: 1em 1em;
	}
	.tab-form-right input[type="text"] {
		width: 88%;
	}

}
@media (max-width: 414px){
	.resp-tab-item {
		margin: 0 6%;
		width: 38%;
	}
	
	.tab-for input[type="text"] {
		width: 94%;
	}
	input.pay-logo {
		width: 83% !important;
	}
	.tab-form-right input[type="text"] {
		width: 86%;
	}
	.swit {
		float: left;
		width: 48%;
		margin-right: 4%;
	}
	.swit:nth-child(2) {
		margin: 0;
	}
	.user-login form input[type="text"], .user-login form input[type="password"] {
		width: 90%;
	}
}
@media (max-width: 384px){
	input.pay-logo {
		width: 81% !important;
	}
	.user-form ul li {
		width: 37%;
	}	
	
	.swit {
		float: left;
		width: 100%;
		margin-right: 0;
	}
	.user-login form input[type="text"], .user-login form input[type="password"] {
		width: 89%;
	}
}
@media (max-width: 375px){
	
}
@media (max-width: 320px){
	.pay-tabs h2, .payment-info h3 {
		font-size: 19px;
	}

	.pay-tabs {
		margin: 0 0 1.5em 0;
	}
	.tab-for input[type="text"] {
		width: 92%;
	}
	input.pay-logo {
		width: 76.5% !important;
	}
	.payment-info form input[type="submit"] {
		width: 32%;
	 margin-bottom: 19px;
	}	
	.tab-form-left {
		float: left;
		width: 100%;
	}
	.user-form ul li {
		width: 42.5%;
		margin-right: 6.5%;
	}
	.tab-form-right {
		float: right;
		width: 100%;
		margin-top: 20px;
	}
	.tab-form-right input[type="text"] {
		width: 92%;
	}
	.user-right {
		width: 30%;
	}
	.payment-info form input[type="submit"] {
		padding: 7px 0;
	}

}

.bootstrap-select{
height: 48px;
}
.m_0{
margin: 0;
}
.change{
    padding-top: 41px;
    display: inline-block;
    color: #3333ec;
    font-weight: 500;
}
.captcha{
width: 200px;
border: 2px solid #e7ebee;
margin-bottom: 15px;
text-align: center; 
}
.order_confirm .panel-default{
    border: 1px solid #ddd;
}
.order_confirm .total{
    margin-top: 15px;
}
.order_confirm .remove_r{
    color: #6767bb;
    font-weight: 400;
    cursor: pointer;
}
.order_confirm .remove_r label{
    cursor: pointer;
}
.order_confirm .btn-default{
    background: #ccc;
    color: #000;
    padding: 10px 28px;
}
.succ_img{
margin-right: 10px;
}

.order_id{
    padding: 0 15px 15px;
    border-bottom: 1px solid #e3e3e3;
}
.my_order .panel-body {
    padding: 15px 0;
    border: 1px solid #e3e3e3;
    box-shadow: 0 7px 10px rgba(0, 0, 0, .12)
}
.d_box{
padding-top: 7px;
}
