<app-header></app-header>
<div class="page-header">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="breadcrumb">
                  <a href="#"><i class="icon-home"></i> Home</a>
                  <span class="crumbs-spacer"><i class="fa fa-angle-double-right"></i></span>
                  <span class="current"> Product Details</span>
                  <h2 class="entry-title">Product Details</h2>
              </div>
          </div>
      </div>
  </div>
</div>


<section id="product-collection" class="section">
  <div class="container">
      <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="product-details-image">
                  <span class="icon-heart"></span>
                  <div class="slider-for slider">
                      <div>
                          <img src="assets/img/single-product/img1.jpg" alt="">
                      </div>
                      <div>
                          <img src="assets/img/single-product/img2.jpg" alt="">
                      </div>
                      <div>
                          <img src="assets/img/single-product/img3.jpg" alt="">
                      </div>
                      <div>
                          <img src="assets/img/single-product/img4.jpg" alt="">
                      </div>
                      <div>
                          <img src="assets/img/single-product/img5.jpg" alt="">
                      </div>
                      <div>
                          <img src="assets/img/single-product/img3.jpg" alt="">
                      </div>
                  </div>
                  <ul id="productthumbnail" class="slider slider-nav">
                      <li>
                          <img src="assets/img/single-product/small/img1.jpg" alt="">
                      </li>
                      <li>
                          <img src="assets/img/single-product/small/img2.jpg" alt="">
                      </li>
                      <li>
                          <img src="assets/img/single-product/small/img3.jpg" alt="">
                      </li>
                      <li>
                          <img src="assets/img/single-product/small/img4.jpg" alt="">
                      </li>
                      <li>
                          <img src="assets/img/single-product/small/img5.jpg" alt="">
                      </li>
                      <li>
                          <img src="assets/img/single-product/small/img3.jpg" alt="">
                      </li>
                  </ul>
              </div>
          </div>
          <div class="col-md-8 col-sm-6 col-xs-12">
              <div class="info-panel">
                  <h1 class="product-title">Proin Lectus Ipsum</h1>

                  <div class="price-ratting">
                      <div class="price float-left">
                          <i class="fa fa-rupee"></i> 120.00
                      </div>
                      <div class="ratting float-right">
                          <div class="product-star">
                              <i class="icon-star active"></i>
                              <i class="icon-star active"></i>
                              <i class="icon-star active"></i>
                              <i class="icon-star active"></i>
                              <i class="icon-star active"></i>
                              <span>(01 Customer Review)</span>
                          </div>
                      </div>
                  </div>

                  <div class="short-desc">
                      <h5 class="sub-title">Quick Overview</h5>
                      <p>There are many variations of passages of Lorem Ipsum avaable, b majority have suffered
                          alteration in some form, by injected humour, or randomised words which don't look even
                          slightly believable. make an ami jani nab majority have suffered alteration in some
                          form, variations of passages Lorem Ipsum avaable, b majority </p>
                  </div>

                  <div class="product-size">
                      <h5 class="sub-title">Select Size</h5>
                      <span>S</span>
                      <span class="active">M</span>
                      <span>L</span>
                      <span>XL</span>
                  </div>

                  <div class="color-list">
                      <h5 class="sub-title">Select Color</h5>
                      <button class="color active" style="background-color: #51bd99;"><i class="fa fa-check"></i></button>
                      <button class="color" style="background-color: #ff7a5f;"><i class="fa fa-check"></i></button>
                      <button class="color" style="background-color: #baa6c2;"><i class="fa fa-check"></i></button>
                      <button class="color" style="background-color: #414141;"><i class="fa fa-check"></i></button>
                  </div>

                  <div class="quantity-cart">
                      <button class="btn btn-common"><i class="icon-basket-loaded-loaded"></i> add to cart</button>
                  </div>


              </div>
          </div>
      </div>
  </div>
</section>

<app-footer></app-footer>