<footer class="section">
  <div class="container">
      <div class="row">
          <div class="col-md-3 col-sm-6">
              <h3 class="widget-title">Useful Links</h3>
              <ul>
                  <li><a href="">WHO ARE WE?</a></li>
                  <li><a href="">CAREERS</a></li>
                  <li><a href="">AUTHENTICITY</a></li>
                  <li><a href="">PRESS</a></li>
                  <li><a href="">TESTIMONIALS</a></li>
                  <li><a href="">NEW LAUNCHES</a></li>
              </ul>
          </div>
          <div class="col-md-3 col-sm-6">
              <h3 class="widget-title">Useful Links</h3>
              <ul>
                  <li><a href="">My Account</a></li>
                  <li><a href="l">Contact</a></li>
                  <li><a href="">Checkout</a></li>
                  <li><a href="">Wishlist</a></li>
              </ul>
          </div>
          <div class="col-md-3 col-sm-6">
              <h3 class="widget-title">Product Tags</h3>
              <div class="social-icons">
                  <ul class="footer_social_links styltwo ">
                      <li>
                          <a href="#">
                              <i class="fa fa-facebook"></i>
                          </a>
                      </li>
                      <li>
                          <a href="#">
                              <i class="fa fa-twitter"></i>
                          </a>
                      </li>

                      <li>
                          <a href="#">
                              <i class="fa fa-google-plus"></i>
                          </a>
                      </li>
                      <li>
                          <a href="#">
                              <i class="fa fa-linkedin"></i>
                          </a>
                      </li>
                  </ul>
              </div>
          </div>
          <div class="col-md-3 col-sm-6">
              <div class="block-subscribe">
                  <h3 class="widget-title">Newsletter</h3>
                  <p>Quisque a nunc interdum tellus placerat cursus. Quisque facilisis dapibus facilisis! Vivamus
                      dictum lectus ut porta volutpat.</p>
                  <form class="subscribe">
                      <input type="text" class="form-control" name="email" placeholder="Enter Email">
                      <button type="submit" class="btn btn-common">Subscribe</button>
                  </form>
              </div>
          </div>
      </div>
  </div>
</footer>


<div id="copyright">
  <div class="container">
      <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
              <p>All copyrights reserved &copy; 2018 - Designed & Developed by </p>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="payment pull-right">
                  <img src="assets/img/payment.png" alt="">
              </div>
          </div>
      </div>
  </div>
</div>


<a href="#" class="back-to-top">
  <i class="icon-arrow-up"></i>
</a>





<!-- <div id="preloader">
  <div id="status">
      <div class="spinner">
          Loading...
      </div>
  </div>
</div> -->
